/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
 box-sizing: border-box;
}

/* 2. Remove default margin for common elements */
* {
 margin: 0;
}

/* 3. Allow percentage-based heights and improve line-height */
body {
 line-height: 1.5;
 -webkit-font-smoothing: antialiased;
 min-height: 100dvh;
}

/* 4. Improve media defaults */
img,
picture,
video,
canvas,
svg {
 max-width: 100%;
}

/* 5. Remove built-in form typography styles */
input,
button,
textarea,
select {
 font: inherit;
}

/* 6. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
 overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
}

/* 7. Create a root stacking context (optional but helpful) */
#root,
#__next {
 isolation: isolate;
}
