html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
picture,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
}

/*https://piccalil.li/blog/a-more-modern-css-reset/*/
/* Box sizing rules */
*,
*::before,
*::after {
 box-sizing: border-box;
}

/* Prevent font size inflation */
html {
 -moz-text-size-adjust: none;
 -webkit-text-size-adjust: none;
 text-size-adjust: none;
}

/* Set core body defaults */
body {
 min-height: 100vh;
}

blockquote,
q {
 quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
 content: "";
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

/* Set shorter line heights on headings and interactive elements */
button,
input,
label {
 line-height: 1.1;
}

/* Make images easier to work with */
img,
picture {
 max-width: 100%;
 height: auto;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
 min-height: 7em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
 scroll-margin-block: 5ex;
}

[hidden] {
 display: none;
}
