$cursor-map: (
 "cursor": (
  cursor: default,
 ),
 "cursor-p": (
  cursor: pointer,
 ),
 "cursor-h": (
  cursor: help,
 ),
 "cursor-w": (
  cursor: wait,
 ),
 "cursor-ch": (
  cursor: crosshair,
 ),
 "cursor-na": (
  cursor: not-allowed,
 ),
 "cursor-zi": (
  cursor: zoom-in,
 ),
 "cursor-zo": (
  cursor: zoom-out,
 ),
 "cursor-g": (
  cursor: grab,
 ),
);

$list-style-map: (
 "list-none": (
  list-style: none,
 ),
 "list-disc": (
  list-style: disc,
 ),
 "list-decimal": (
  list-style: decimal,
 ),
 "list-circle": (
  list-style: circle,
 ),
 "list-square": (
  list-style: square,
 ),
 "list-inside": (
  list-style-position: inside,
 ),
 "list-outside": (
  list-style-position: outside,
 ),
);
