// utilities/_border-shadow-map.scss
@use "../root/variables" as v;
@use "../root/base-color" as *;

$border-shadow-map: (
 // Border Radius
 "rounded": (
   border-radius: v.$radius,
  ),
 "rounded-full": (
  border-radius: 9999px,
 ),
 // default border set with var--border
 "border": (
   border: var(--border),
  ),

 // Shadows
 "shadow-sm": (
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
  ),
 "shadow": (
  box-shadow: (
   0 4px 6px -1px rgba(0, 0, 0, 0.1),
   0 2px 4px -1px rgba(0, 0, 0, 0.06),
  ),
 ),
 "shadow-lg": (
  box-shadow: (
   0 10px 15px -3px rgba(0, 0, 0, 0.1),
   0 4px 6px -2px rgba(0, 0, 0, 0.05),
  ),
 ),

 "shadow-form": (
  box-shadow: var(--form-shadow),
 ),
 // Opacity
 "opacity-0": (
   opacity: 0,
  ),
 "opacity-25": (
  opacity: 0.25,
 ),
 "opacity-50": (
  opacity: 0.5,
 ),

 "opacity-75": (
  opacity: 0.75,
 ),
 "opacity-100": (
  opacity: 1,
 )
);
