@use "../root/mixins" as *;

// utilities/_display-map.scss
$display-map: (
 // Display
 "block": (
   display: block,
  ),
 "inline-block": (
  display: inline-block,
 ),
 "inline": (
  display: inline,
 ),
 "flex": (
  display: flex,
 ),
 "inline-flex": (
  display: inline-flex,
 ),
 "grid": (
  display: grid,
 ),
 "inline-grid": (
  display: inline-grid,
 ),
 "hidden": (
  display: none,
 ),
 // Visibility
 "visible": (
   visibility: visible,
  ),
 "invisible": (
  visibility: hidden,
 ),
 // Object Fit (Useful for responsive images)
 "object-contain": (
   object-fit: contain,
  ),
 "object-cover": (
  object-fit: cover,
 ),
 "object-fill": (
  object-fit: fill,
 )
);
