$flex-map: (
 //see display for flex, inline-flex
 "flex-row": (
   flex-direction: row,
  ),
 "row-reverse": (
  flex-direction: row-reverse,
 ),
 "flex-col": (
  flex-direction: column,
 ),
 "col-reverse": (
  flex-direction: column-reverse,
 ),
 "no-wrap": (
  flex-wrap: nowrap,
 ),
 "wrap": (
  flex-wrap: wrap,
 ),
 "wrap-reverse": (
  flex-wrap: wrap-reverse,
 ),
 "justify-start": (
  justify-content: flex-start,
 ),
 "justify-end": (
  justify-content: flex-end,
 ),
 "justify-center": (
  justify-content: center,
 ),
 "justify-between": (
  justify-content: space-between,
 ),
 "justify-around": (
  justify-content: space-around,
 ),
 "justify-evenly": (
  justify-content: space-evenly,
 ),
 "items-start": (
  align-items: flex-start,
 ),
 "items-end": (
  align-items: flex-end,
 ),
 "items-center": (
  align-items: center,
 ),
 "items-baseline": (
  align-items: baseline,
 ),
 "items-stretch": (
  align-items: stretch,
 ),
 "grow": (
  flex-grow: 1,
 ),
 "grow-0": (
  flex-grow: 0,
 ),
 "shrink": (
  flex-shrink: 1,
 ),
 "shrink-0": (
  flex-shrink: 0,
 )
);
