@use "../root/variables" as *;

.centered {
 margin-left: auto;
 margin-right: auto;
}

//margin top and bottom
.my {
 margin-top: $spacer; //2rem
 margin-bottom: $spacer; //2rem
}

.my-m {
 margin-top: $medium-spacer; //1rem
 margin-bottom: $medium-spacer; //1rem
}

.my-s {
 margin-top: $small-spacer; //0.5rem
 margin-bottom: $small-spacer; //0.5rem
}

.my-l {
 margin-top: $large-spacer; //3rem
 margin-bottom: $large-spacer; //3rem
}

.my-b {
 margin-top: $big-spacer; //4rem
 margin-bottom: $big-spacer; //4rem
}

//margin left and right
.mx {
 margin-left: $spacer; //2rem
 margin-right: $spacer; //2rem
}

.mx-m {
 margin-left: $medium-spacer; //1rem
 margin-right: $medium-spacer; //1rem
}

.mx-s {
 margin-left: $small-spacer; //0.5rem
 margin-right: $small-spacer; //0.5rem
}

.mx-l {
 margin-left: $large-spacer; //3rem
 margin-right: $large-spacer; //3rem
}

.mx-b {
 margin-left: $big-spacer; //4rem
 margin-right: $big-spacer; //4rem
}

//margin top
.mt {
 margin-top: $spacer; //2rem
}

.mt-m {
 margin-top: $medium-spacer; //1rem
}

.mt-s {
 margin-top: $small-spacer; //0.5rem
}

.mt-l {
 margin-top: $large-spacer; //3rem
}

.mt-b {
 margin-top: $big-spacer; //4rem
}

//margin bottom
.mb {
 margin-bottom: $spacer; //2rem
}

.mb-m {
 margin-bottom: $medium-spacer; //1rem
}

.mb-s {
 margin-bottom: $small-spacer; //0.5rem
}

.mb-l {
 margin-bottom: $large-spacer; //3rem
}

.mb-b {
 margin-bottom: $big-spacer; //4rem
}

//margin left
.ml {
 margin-left: $spacer; //2rem
}

.ml-m {
 margin-left: $medium-spacer; //1rem
}

.ml-s {
 margin-left: $small-spacer; //0.5rem
}

.ml-l {
 margin-left: $large-spacer; //3rem
}

.ml-b {
 margin-left: $big-spacer; //4rem
}

//margin right
.mr {
 margin-right: $spacer; //2rem
}

.mr-m {
 margin-right: $medium-spacer; //1rem
}

.mr-s {
 margin-right: $small-spacer; //0.5rem
}

.mr-l {
 margin-right: $large-spacer; //3rem
}

.mr-b {
 margin-right: $big-spacer; //4rem
}
