@use "../root/variables" as *;
@use "../root/mixins" as *;

.centered {
 margin-left: auto;
 margin-right: auto;
}
//margin top and bottom

.my-0 {
 margin-top: 0;
 margin-bottom: 0;
}
.my-1 {
 margin-top: 0.25rem;
 margin-bottom: 0.25rem;
}

.my-2 {
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
}
.my-3 {
 margin-top: 0.75rem;
 margin-bottom: 0.75rem;
}
.my-4 {
 margin-top: 1rem;
 margin-bottom: 1rem;
}

.my-5 {
 margin-top: 1.25rem;
 margin-bottom: 1.25rem;
}
.my-6 {
 margin-top: 1.5em;
 margin-bottom: 1.5em;
}
.my-7 {
 margin-top: 1.75rem;
 margin-bottom: 1.75rem;
}
.my-8 {
 margin-top: 2rem;
 margin-bottom: 2rem;
}
.my-9 {
 margin-top: 2.5rem;
 margin-bottom: 2.5rem;
}
.my-10 {
 margin-top: 3rem;
 margin-bottom: 3rem;
}
.my-11 {
 margin-top: 3.5rem;
 margin-bottom: 3.5rem;
}
.my-12 {
 margin-top: 4rem;
 margin-bottom: 4rem;
}
.my-13 {
 margin-top: 4.5rem;
 margin-bottom: 4.5rem;
}
.my-14 {
 margin-top: 5rem;
 margin-bottom: 5rem;
}
.my-15 {
 margin-top: 5.5rem;
 margin-bottom: 5.5rem;
}

//margin left and right
.mx-0 {
 margin-left: 0;
 margin-right: 0;
}

.mx-1 {
 margin-left: 0.25rem;
 margin-right: 0.25rem;
}

.mx-2 {
 margin-left: 0.5rem;
 margin-right: 0.5rem;
}
.mx-3 {
 margin-left: 0.75rem;
 margin-right: 0.75rem;
}
.mx-4 {
 margin-left: 1rem;
 margin-right: 1rem;
}

.mx-5 {
 margin-left: 1.25rem;
 margin-right: 1.25rem;
}
.mx-6 {
 margin-left: 1.5em;
 margin-right: 1.5em;
}
.mx-7 {
 margin-left: 1.75rem;
 margin-right: 1.75rem;
}
.mx-8 {
 margin-left: 2rem;
 margin-right: 2rem;
}
.mx-9 {
 margin-left: 2.5rem;
 margin-right: 2.5rem;
}
.mx-10 {
 margin-left: 3rem;
 margin-right: 3rem;
}
.mx-11 {
 margin-left: 3.5rem;
 margin-right: 3.5rem;
}
.mx-12 {
 margin-left: 4rem;
 margin-right: 4rem;
}
.mx-13 {
 margin-left: 4.5rem;
 margin-right: 4.5rem;
}
.mx-14 {
 margin-left: 5rem;
 margin-right: 5rem;
}
.mx-15 {
 margin-left: 5.5rem;
 margin-right: 5.5rem;
}

//margin top
.mt-0 {
 margin-top: 0;
}
.mt-1 {
 margin-top: 0.25rem;
}
.mt-2 {
 margin-top: 0.5rem;
}
.mt-3 {
 margin-top: 0.75rem;
}
.mt-4 {
 margin-top: 1rem;
}
.mt-5 {
 margin-top: 1.25rem;
}
.mt-6 {
 margin-top: 1.5rem;
}
.mt-7 {
 margin-top: 1.75rem;
}
.mt-8 {
 margin-top: 2rem;
}
.mt-9 {
 margin-top: 2.5rem;
}
.mt-10 {
 margin-top: 3rem;
}
.mt-11 {
 margin-top: 3.5rem;
}
.mt-12 {
 margin-top: 4rem;
}
.mt-13 {
 margin-top: 4.5rem;
}
.mt-14 {
 margin-top: 5rem;
}
.mt-15 {
 margin-top: 5.5rem;
}

//margin bottom
.mb-0 {
 margin-bottom: 0;
}
.mb-1 {
 margin-bottom: 0.25rem;
}
.mb-2 {
 margin-bottom: 0.5rem;
}
.mb-3 {
 margin-bottom: 0.75rem;
}
.mb-4 {
 margin-bottom: 1rem;
}
.mb-5 {
 margin-bottom: 1.25rem;
}
.mb-6 {
 margin-bottom: 1.5rem;
}
.mb-7 {
 margin-bottom: 1.75rem;
}
.mb-8 {
 margin-bottom: 2rem;
}
.mb-9 {
 margin-bottom: 2.5rem;
}
.mb-10 {
 margin-bottom: 3rem;
}
.mb-11 {
 margin-bottom: 3.5rem;
}
.mb-12 {
 margin-bottom: 4rem;
}
.mb-13 {
 margin-bottom: 4.5rem;
}
.mb-14 {
 margin-bottom: 5rem;
}
.mb-15 {
 margin-bottom: 5.5rem;
}

//margin left
.ml-0 {
 margin-left: 0;
}
.ml-1 {
 margin-left: 0.25rem;
}
.ml-2 {
 margin-left: 0.5rem;
}
.ml-3 {
 margin-left: 0.75rem;
}
.ml-4 {
 margin-left: 1rem;
}
.ml-5 {
 margin-left: 1.25rem;
}
.ml-6 {
 margin-left: 1.5rem;
}
.ml-7 {
 margin-left: 1.75rem;
}
.ml-8 {
 margin-left: 2rem;
}
.ml-9 {
 margin-left: 2.5rem;
}
.ml-10 {
 margin-left: 3rem;
}
.ml-11 {
 margin-left: 3.5rem;
}
.ml-12 {
 margin-left: 4rem;
}
.ml-13 {
 margin-left: 4.5rem;
}
.ml-14 {
 margin-left: 5rem;
}
.ml-15 {
 margin-left: 5.5rem;
}

//margin right
.mr-0 {
 margin-right: 0;
}
.mr-1 {
 margin-right: 0.25rem;
}
.mr-2 {
 margin-right: 0.5rem;
}
.mr-3 {
 margin-right: 0.75rem;
}
.mr-4 {
 margin-right: 1rem;
}
.mr-5 {
 margin-right: 1.25rem;
}
.mr-6 {
 margin-right: 1.5rem;
}
.mr-7 {
 margin-right: 1.75rem;
}
.mr-8 {
 margin-right: 2rem;
}
.mr-9 {
 margin-right: 2.5rem;
}
.mr-10 {
 margin-right: 3rem;
}
.mr-11 {
 margin-right: 3.5rem;
}
.mr-12 {
 margin-right: 4rem;
}
.mr-13 {
 margin-right: 4.5rem;
}
.mr-14 {
 margin-right: 5rem;
}
.mr-15 {
 margin-right: 5.5rem;
}

//breakpoint 700px
@include media(700px) {
 .centered_7 {
  margin-left: auto;
  margin-right: auto;
 }
 //margin top and bottom - 700
 .my-0_7 {
  margin-top: 0;
  margin-bottom: 0;
 }
 .my-1_7 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
 }

 .my-2_7 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
 }
 .my-3_7 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
 }
 .my-4_7 {
  margin-top: 1rem;
  margin-bottom: 1rem;
 }

 .my-5_7 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
 }
 .my-6_7 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
 }
 .my-7_7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
 }
 .my-8_7 {
  margin-top: 2rem;
  margin-bottom: 2rem;
 }
 .my-9_7 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
 }
 .my-10_7 {
  margin-top: 3rem;
  margin-bottom: 3rem;
 }
 .my-11_7 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
 }
 .my-12_7 {
  margin-top: 4rem;
  margin-bottom: 4rem;
 }
 .my-13_7 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
 }
 .my-14_7 {
  margin-top: 5rem;
  margin-bottom: 5rem;
 }
 .my-15_7 {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
 }

 //margin left and right - 700
 .mx-0_7 {
  margin-left: 0;
  margin-right: 0;
 }

 .mx-1_7 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
 }

 .mx-2_7 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
 }
 .mx-3_7 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
 }
 .mx-4_7 {
  margin-left: 1rem;
  margin-right: 1rem;
 }

 .mx-5_7 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
 }
 .mx-6_7 {
  margin-left: 1.5em;
  margin-right: 1.5em;
 }
 .mx-7_7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
 }
 .mx-8_7 {
  margin-left: 2rem;
  margin-right: 2rem;
 }
 .mx-9_7 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
 }
 .mx-10_7 {
  margin-left: 3rem;
  margin-right: 3rem;
 }
 .mx-11_7 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
 }
 .mx-12_7 {
  margin-left: 4rem;
  margin-right: 4rem;
 }
 .mx-13_7 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
 }
 .mx-14_7 {
  margin-left: 5rem;
  margin-right: 5rem;
 }
 .mx-15_7 {
  margin-left: 5.5rem;
  margin-right: 5.5rem;
 }

 //margin top - 700
 .mt-0_7 {
  margin-top: 0;
 }
 .mt-1_7 {
  margin-top: 0.25rem;
 }
 .mt-2_7 {
  margin-top: 0.5rem;
 }
 .mt-3_7 {
  margin-top: 0.75rem;
 }
 .mt-4_7 {
  margin-top: 1rem;
 }
 .mt-5_7 {
  margin-top: 1.25rem;
 }
 .mt-6_7 {
  margin-top: 1.5rem;
 }
 .mt-7_7 {
  margin-top: 1.75rem;
 }
 .mt-8_7 {
  margin-top: 2rem;
 }
 .mt-9_7 {
  margin-top: 2.5rem;
 }
 .mt-10_7 {
  margin-top: 3rem;
 }
 .mt-11_7 {
  margin-top: 3.5rem;
 }
 .mt-12_7 {
  margin-top: 4rem;
 }
 .mt-13_7 {
  margin-top: 4.5rem;
 }
 .mt-14_7 {
  margin-top: 5rem;
 }
 .mt-15_7 {
  margin-top: 5.5rem;
 }

 //margin bottom - 700
 .mb-0_7 {
  margin-bottom: 0;
 }
 .mb-1_7 {
  margin-bottom: 0.25rem;
 }
 .mb-2_7 {
  margin-bottom: 0.5rem;
 }
 .mb-3_7 {
  margin-bottom: 0.75rem;
 }
 .mb-4_7 {
  margin-bottom: 1rem;
 }
 .mb-5_7 {
  margin-bottom: 1.25rem;
 }
 .mb-6_7 {
  margin-bottom: 1.5rem;
 }
 .mb-7_7 {
  margin-bottom: 1.75rem;
 }
 .mb-8_7 {
  margin-bottom: 2rem;
 }
 .mb-9_7 {
  margin-bottom: 2.5rem;
 }
 .mb-10_7 {
  margin-bottom: 3rem;
 }
 .mb-11_7 {
  margin-bottom: 3.5rem;
 }
 .mb-12_7 {
  margin-bottom: 4rem;
 }
 .mb-13_7 {
  margin-bottom: 4.5rem;
 }
 .mb-14_7 {
  margin-bottom: 5rem;
 }
 .mb-15_7 {
  margin-bottom: 5.5rem;
 }

 //margin left - 700
 .ml-0_7 {
  margin-left: 0;
 }
 .ml-1_7 {
  margin-left: 0.25rem;
 }
 .ml-2_7 {
  margin-left: 0.5rem;
 }
 .ml-3_7 {
  margin-left: 0.75rem;
 }
 .ml-4_7 {
  margin-left: 1rem;
 }
 .ml-5_7 {
  margin-left: 1.25rem;
 }
 .ml-6_7 {
  margin-left: 1.5rem;
 }
 .ml-7_7 {
  margin-left: 1.75rem;
 }
 .ml-8_7 {
  margin-left: 2rem;
 }
 .ml-9_7 {
  margin-left: 2.5rem;
 }
 .ml-10_7 {
  margin-left: 3rem;
 }
 .ml-11_7 {
  margin-left: 3.5rem;
 }
 .ml-12_7 {
  margin-left: 4rem;
 }
 .ml-13_7 {
  margin-left: 4.5rem;
 }
 .ml-14_7 {
  margin-left: 5rem;
 }
 .ml-15_7 {
  margin-left: 5.5rem;
 }

 //margin right - 700
 .mr-0_7 {
  margin-right: 0;
 }
 .mr-1_7 {
  margin-right: 0.25rem;
 }
 .mr-2_7 {
  margin-right: 0.5rem;
 }
 .mr-3_7 {
  margin-right: 0.75rem;
 }
 .mr-4_7 {
  margin-right: 1rem;
 }
 .mr-5_7 {
  margin-right: 1.25rem;
 }
 .mr-6_7 {
  margin-right: 1.5rem;
 }
 .mr-7_7 {
  margin-right: 1.75rem;
 }
 .mr-8_7 {
  margin-right: 2rem;
 }
 .mr-9_7 {
  margin-right: 2.5rem;
 }
 .mr-10_7 {
  margin-right: 3rem;
 }
 .mr-11_7 {
  margin-right: 3.5rem;
 }
 .mr-12_7 {
  margin-right: 4rem;
 }
 .mr-13_7 {
  margin-right: 4.5rem;
 }
 .mr-14_7 {
  margin-right: 5rem;
 }
 .mr-15_7 {
  margin-right: 5.5rem;
 }
}

///////////////////
//breakpoint 900px
@include media(900px) {
 .centered_9 {
  margin-left: auto;
  margin-right: auto;
 }
 //margin top and bottom - 900
 .my-0_9 {
  margin-top: 0;
  margin-bottom: 0;
 }
 .my-1_9 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
 }

 .my-2_9 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
 }
 .my-3_9 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
 }
 .my-4_9 {
  margin-top: 1rem;
  margin-bottom: 1rem;
 }

 .my-5_9 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
 }
 .my-6_9 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
 }
 .my-7_9 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
 }
 .my-8_9 {
  margin-top: 2rem;
  margin-bottom: 2rem;
 }
 .my-9_9 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
 }
 .my-10_9 {
  margin-top: 3rem;
  margin-bottom: 3rem;
 }
 .my-11_9 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
 }
 .my-12_9 {
  margin-top: 4rem;
  margin-bottom: 4rem;
 }
 .my-13_9 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
 }
 .my-14_9 {
  margin-top: 5rem;
  margin-bottom: 5rem;
 }
 .my-15_9 {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
 }

 //margin left and right - 900
 .mx-0_9 {
  margin-left: 0;
  margin-right: 0;
 }

 .mx-1_9 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
 }

 .mx-2_9 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
 }
 .mx-3_9 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
 }
 .mx-4_9 {
  margin-left: 1rem;
  margin-right: 1rem;
 }

 .mx-5_9 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
 }
 .mx-6_9 {
  margin-left: 1.5em;
  margin-right: 1.5em;
 }
 .mx-7_9 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
 }
 .mx-8_9 {
  margin-left: 2rem;
  margin-right: 2rem;
 }
 .mx-9_9 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
 }
 .mx-10_9 {
  margin-left: 3rem;
  margin-right: 3rem;
 }
 .mx-11_9 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
 }
 .mx-12_9 {
  margin-left: 4rem;
  margin-right: 4rem;
 }
 .mx-13_9 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
 }
 .mx-14_9 {
  margin-left: 5rem;
  margin-right: 5rem;
 }
 .mx-15_9 {
  margin-left: 5.5rem;
  margin-right: 5.5rem;
 }

 //margin top - 900
 .mt-0_9 {
  margin-top: 0;
 }
 .mt-1_9 {
  margin-top: 0.25rem;
 }
 .mt-2_9 {
  margin-top: 0.5rem;
 }
 .mt-3_9 {
  margin-top: 0.75rem;
 }
 .mt-4_9 {
  margin-top: 1rem;
 }
 .mt-5_9 {
  margin-top: 1.25rem;
 }
 .mt-6_9 {
  margin-top: 1.5rem;
 }
 .mt-7_9 {
  margin-top: 1.75rem;
 }
 .mt-8_9 {
  margin-top: 2rem;
 }
 .mt-9_9 {
  margin-top: 2.5rem;
 }
 .mt-10_9 {
  margin-top: 3rem;
 }
 .mt-11_9 {
  margin-top: 3.5rem;
 }
 .mt-12_9 {
  margin-top: 4rem;
 }
 .mt-13_9 {
  margin-top: 4.5rem;
 }
 .mt-14_9 {
  margin-top: 5rem;
 }
 .mt-15_9 {
  margin-top: 5.5rem;
 }

 //margin bottom - 900
 .mb-0_9 {
  margin-bottom: 0;
 }
 .mb-1_9 {
  margin-bottom: 0.25rem;
 }
 .mb-2_9 {
  margin-bottom: 0.5rem;
 }
 .mb-3_9 {
  margin-bottom: 0.75rem;
 }
 .mb-4_9 {
  margin-bottom: 1rem;
 }
 .mb-5_9 {
  margin-bottom: 1.25rem;
 }
 .mb-6_9 {
  margin-bottom: 1.5rem;
 }
 .mb-7_9 {
  margin-bottom: 1.75rem;
 }
 .mb-8_9 {
  margin-bottom: 2rem;
 }
 .mb-9_9 {
  margin-bottom: 2.5rem;
 }
 .mb-10_9 {
  margin-bottom: 3rem;
 }
 .mb-11_9 {
  margin-bottom: 3.5rem;
 }
 .mb-12_9 {
  margin-bottom: 4rem;
 }
 .mb-13_9 {
  margin-bottom: 4.5rem;
 }
 .mb-14_9 {
  margin-bottom: 5rem;
 }
 .mb-15_9 {
  margin-bottom: 5.5rem;
 }

 //margin left - 900
 .ml-0_9 {
  margin-left: 0;
 }
 .ml-1_9 {
  margin-left: 0.25rem;
 }
 .ml-2_9 {
  margin-left: 0.5rem;
 }
 .ml-3_9 {
  margin-left: 0.75rem;
 }
 .ml-4_9 {
  margin-left: 1rem;
 }
 .ml-5_9 {
  margin-left: 1.25rem;
 }
 .ml-6_9 {
  margin-left: 1.5rem;
 }
 .ml-7_9 {
  margin-left: 1.75rem;
 }
 .ml-8_9 {
  margin-left: 2rem;
 }
 .ml-9_9 {
  margin-left: 2.5rem;
 }
 .ml-10_9 {
  margin-left: 3rem;
 }
 .ml-11_9 {
  margin-left: 3.5rem;
 }
 .ml-12_9 {
  margin-left: 4rem;
 }
 .ml-13_9 {
  margin-left: 4.5rem;
 }
 .ml-14_9 {
  margin-left: 5rem;
 }
 .ml-15_9 {
  margin-left: 5.5rem;
 }

 //margin right - 900
 .mr-0_9 {
  margin-right: 0;
 }
 .mr-1_9 {
  margin-right: 0.25rem;
 }
 .mr-2_9 {
  margin-right: 0.5rem;
 }
 .mr-3_9 {
  margin-right: 0.75rem;
 }
 .mr-4_9 {
  margin-right: 1rem;
 }
 .mr-5_9 {
  margin-right: 1.25rem;
 }
 .mr-6_9 {
  margin-right: 1.5rem;
 }
 .mr-7_9 {
  margin-right: 1.75rem;
 }
 .mr-8_9 {
  margin-right: 2rem;
 }
 .mr-9_9 {
  margin-right: 2.5rem;
 }
 .mr-10_9 {
  margin-right: 3rem;
 }
 .mr-11_9 {
  margin-right: 3.5rem;
 }
 .mr-12_9 {
  margin-right: 4rem;
 }
 .mr-13_9 {
  margin-right: 4.5rem;
 }
 .mr-14_9 {
  margin-right: 5rem;
 }
 .mr-15_9 {
  margin-right: 5.5rem;
 }
}

///////////////////
//breakpoint 1100px
@include media(1100px) {
 .centered_11 {
  margin-left: auto;
  margin-right: auto;
 }
 //margin top and bottom - 1100
 .my-0_11 {
  margin-top: 0;
  margin-bottom: 0;
 }
 .my-1_11 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
 }

 .my-2_11 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
 }
 .my-3_11 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
 }
 .my-4_11 {
  margin-top: 1rem;
  margin-bottom: 1rem;
 }

 .my-5_11 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
 }
 .my-6_11 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
 }
 .my-7_11 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
 }
 .my-8_11 {
  margin-top: 2rem;
  margin-bottom: 2rem;
 }
 .my-9_11 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
 }
 .my-10_11 {
  margin-top: 3rem;
  margin-bottom: 3rem;
 }
 .my-11_11 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
 }
 .my-12_11 {
  margin-top: 4rem;
  margin-bottom: 4rem;
 }
 .my-13_11 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
 }
 .my-14_11 {
  margin-top: 5rem;
  margin-bottom: 5rem;
 }
 .my-15_11 {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
 }

 //margin left and right - 1100
 .mx-0_11 {
  margin-left: 0;
  margin-right: 0;
 }

 .mx-1_11 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
 }

 .mx-2_11 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
 }
 .mx-3_11 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
 }
 .mx-4_11 {
  margin-left: 1rem;
  margin-right: 1rem;
 }

 .mx-5_11 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
 }
 .mx-6_11 {
  margin-left: 1.5em;
  margin-right: 1.5em;
 }
 .mx-7_11 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
 }
 .mx-8_11 {
  margin-left: 2rem;
  margin-right: 2rem;
 }
 .mx-9_11 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
 }
 .mx-10_11 {
  margin-left: 3rem;
  margin-right: 3rem;
 }
 .mx-11_11 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
 }
 .mx-12_11 {
  margin-left: 4rem;
  margin-right: 4rem;
 }
 .mx-13_11 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
 }
 .mx-14_11 {
  margin-left: 5rem;
  margin-right: 5rem;
 }
 .mx-15_11 {
  margin-left: 5.5rem;
  margin-right: 5.5rem;
 }

 //margin top - 1100
 .mt-0_11 {
  margin-top: 0;
 }
 .mt-1_11 {
  margin-top: 0.25rem;
 }
 .mt-2_11 {
  margin-top: 0.5rem;
 }
 .mt-3_11 {
  margin-top: 0.75rem;
 }
 .mt-4_11 {
  margin-top: 1rem;
 }
 .mt-5_11 {
  margin-top: 1.25rem;
 }
 .mt-6_11 {
  margin-top: 1.5rem;
 }
 .mt-7_11 {
  margin-top: 1.75rem;
 }
 .mt-8_11 {
  margin-top: 2rem;
 }
 .mt-9_11 {
  margin-top: 2.5rem;
 }
 .mt-10_11 {
  margin-top: 3rem;
 }
 .mt-11_11 {
  margin-top: 3.5rem;
 }
 .mt-12_11 {
  margin-top: 4rem;
 }
 .mt-13_11 {
  margin-top: 4.5rem;
 }
 .mt-14_11 {
  margin-top: 5rem;
 }
 .mt-15_11 {
  margin-top: 5.5rem;
 }

 //margin bottom - 1100
 .mb-0_11 {
  margin-bottom: 0;
 }
 .mb-1_11 {
  margin-bottom: 0.25rem;
 }
 .mb-2_11 {
  margin-bottom: 0.5rem;
 }
 .mb-3_11 {
  margin-bottom: 0.75rem;
 }
 .mb-4_11 {
  margin-bottom: 1rem;
 }
 .mb-5_11 {
  margin-bottom: 1.25rem;
 }
 .mb-6_11 {
  margin-bottom: 1.5rem;
 }
 .mb-7_11 {
  margin-bottom: 1.75rem;
 }
 .mb-8_11 {
  margin-bottom: 2rem;
 }
 .mb-9_11 {
  margin-bottom: 2.5rem;
 }
 .mb-10_11 {
  margin-bottom: 3rem;
 }
 .mb-11_11 {
  margin-bottom: 3.5rem;
 }
 .mb-12_11 {
  margin-bottom: 4rem;
 }
 .mb-13_11 {
  margin-bottom: 4.5rem;
 }
 .mb-14_11 {
  margin-bottom: 5rem;
 }
 .mb-15_11 {
  margin-bottom: 5.5rem;
 }

 //margin left - 1100
 .ml-0_11 {
  margin-left: 0;
 }
 .ml-1_11 {
  margin-left: 0.25rem;
 }
 .ml-2_11 {
  margin-left: 0.5rem;
 }
 .ml-3_11 {
  margin-left: 0.75rem;
 }
 .ml-4_11 {
  margin-left: 1rem;
 }
 .ml-5_11 {
  margin-left: 1.25rem;
 }
 .ml-6_11 {
  margin-left: 1.5rem;
 }
 .ml-7_11 {
  margin-left: 1.75rem;
 }
 .ml-8_11 {
  margin-left: 2rem;
 }
 .ml-9_11 {
  margin-left: 2.5rem;
 }
 .ml-10_11 {
  margin-left: 3rem;
 }
 .ml-11_11 {
  margin-left: 3.5rem;
 }
 .ml-12_11 {
  margin-left: 4rem;
 }
 .ml-13_11 {
  margin-left: 4.5rem;
 }
 .ml-14_11 {
  margin-left: 5rem;
 }
 .ml-15_11 {
  margin-left: 5.5rem;
 }

 //margin right - 1100
 .mr-0_11 {
  margin-right: 0;
 }
 .mr-1_11 {
  margin-right: 0.25rem;
 }
 .mr-2_11 {
  margin-right: 0.5rem;
 }
 .mr-3_11 {
  margin-right: 0.75rem;
 }
 .mr-4_11 {
  margin-right: 1rem;
 }
 .mr-5_11 {
  margin-right: 1.25rem;
 }
 .mr-6_11 {
  margin-right: 1.5rem;
 }
 .mr-7_11 {
  margin-right: 1.75rem;
 }
 .mr-8_11 {
  margin-right: 2rem;
 }
 .mr-9_11 {
  margin-right: 2.5rem;
 }
 .mr-10_11 {
  margin-right: 3rem;
 }
 .mr-11_11 {
  margin-right: 3.5rem;
 }
 .mr-12_11 {
  margin-right: 4rem;
 }
 .mr-13_11 {
  margin-right: 4.5rem;
 }
 .mr-14_11 {
  margin-right: 5rem;
 }
 .mr-15_11 {
  margin-right: 5.5rem;
 }
}
