//temporary odds file
@use "../root" as *;

//media breakpoints ??????
.heading-77 {
 @include media(700) {
  font-size: 1.6rem;
 }
}

.heading-79 {
 @include media(900) {
  font-size: 1.7rem;
 }
}

.heading-57 {
 @include media(700) {
  font-size: 2.3rem;
 }
}

.heading-59 {
 @include media(900) {
  font-size: 2.6rem;
 }
}

//border
.border {
 border: $border;
}
