@use "../root/variables" as *;
@use "../root/mixins" as *;

//padding top and bottom
.py-0 {
 padding-top: 0;
 padding-bottom: 0;
}
.py-1 {
 padding-top: 0.25rem;
 padding-bottom: 0.25rem;
}

.py-2 {
 padding-top: 0.5rem;
 padding-bottom: 0.5rem;
}
.py-3 {
 padding-top: 0.75rem;
 padding-bottom: 0.75rem;
}
.py-4 {
 padding-top: 1rem;
 padding-bottom: 1rem;
}

.py-5 {
 padding-top: 1.25rem;
 padding-bottom: 1.25rem;
}
.py-6 {
 padding-top: 1.5em;
 padding-bottom: 1.5em;
}
.py-7 {
 padding-top: 1.75rem;
 padding-bottom: 1.75rem;
}
.py-8 {
 padding-top: 2rem;
 padding-bottom: 2rem;
}
.py-9 {
 padding-top: 2.5rem;
 padding-bottom: 2.5rem;
}
.py-10 {
 padding-top: 3rem;
 padding-bottom: 3rem;
}
.py-11 {
 padding-top: 3.5rem;
 padding-bottom: 3.5rem;
}
.py-12 {
 padding-top: 4rem;
 padding-bottom: 4rem;
}
.py-13 {
 padding-top: 4.5rem;
 padding-bottom: 4.5rem;
}
.py-14 {
 padding-top: 5rem;
 padding-bottom: 5rem;
}
.py-15 {
 padding-top: 5.5rem;
 padding-bottom: 5.5rem;
}

//padding left and right
.px-0 {
 padding-left: 0;
 padding-right: 0;
}

.px-1 {
 padding-left: 0.25rem;
 padding-right: 0.25rem;
}

.px-2 {
 padding-left: 0.5rem;
 padding-right: 0.5rem;
}
.px-3 {
 padding-left: 0.75rem;
 padding-right: 0.75rem;
}
.px-4 {
 padding-left: 1rem;
 padding-right: 1rem;
}

.px-5 {
 padding-left: 1.25rem;
 padding-right: 1.25rem;
}
.px-6 {
 padding-left: 1.5em;
 padding-right: 1.5em;
}
.px-7 {
 padding-left: 1.75rem;
 padding-right: 1.75rem;
}
.px-8 {
 padding-left: 2rem;
 padding-right: 2rem;
}
.px-9 {
 padding-left: 2.5rem;
 padding-right: 2.5rem;
}
.px-10 {
 padding-left: 3rem;
 padding-right: 3rem;
}
.px-11 {
 padding-left: 3.5rem;
 padding-right: 3.5rem;
}
.px-12 {
 padding-left: 4rem;
 padding-right: 4rem;
}
.px-13 {
 padding-left: 4.5rem;
 padding-right: 4.5rem;
}
.px-14 {
 padding-left: 5rem;
 padding-right: 5rem;
}
.px-15 {
 padding-left: 5.5rem;
 padding-right: 5.5rem;
}

//padding top
.pt-0 {
 padding-top: 0;
}
.pt-1 {
 padding-top: 0.25rem;
}
.pt-2 {
 padding-top: 0.5rem;
}
.pt-3 {
 padding-top: 0.75rem;
}
.pt-4 {
 padding-top: 1rem;
}
.pt-5 {
 padding-top: 1.25rem;
}
.pt-6 {
 padding-top: 1.5rem;
}
.pt-7 {
 padding-top: 1.75rem;
}
.pt-8 {
 padding-top: 2rem;
}
.pt-9 {
 padding-top: 2.5rem;
}
.pt-10 {
 padding-top: 3rem;
}
.pt-11 {
 padding-top: 3.5rem;
}
.pt-12 {
 padding-top: 4rem;
}
.pt-13 {
 padding-top: 4.5rem;
}
.pt-14 {
 padding-top: 5rem;
}
.pt-15 {
 padding-top: 5.5rem;
}

//padding bottom
.pb-0 {
 padding-bottom: 0;
}
.pb-1 {
 padding-bottom: 0.25rem;
}
.pb-2 {
 padding-bottom: 0.5rem;
}
.pb-3 {
 padding-bottom: 0.75rem;
}
.pb-4 {
 padding-bottom: 1rem;
}
.pb-5 {
 padding-bottom: 1.25rem;
}
.pb-6 {
 padding-bottom: 1.5rem;
}
.pb-7 {
 padding-bottom: 1.75rem;
}
.pb-8 {
 padding-bottom: 2rem;
}
.pb-9 {
 padding-bottom: 2.5rem;
}
.pb-10 {
 padding-bottom: 3rem;
}
.pb-11 {
 padding-bottom: 3.5rem;
}
.pb-12 {
 padding-bottom: 4rem;
}
.pb-13 {
 padding-bottom: 4.5rem;
}
.pb-14 {
 padding-bottom: 5rem;
}
.pb-15 {
 padding-bottom: 5.5rem;
}

//padding left
.pl-0 {
 padding-left: 0;
}
.pl-1 {
 padding-left: 0.25rem;
}
.pl-2 {
 padding-left: 0.5rem;
}
.pl-3 {
 padding-left: 0.75rem;
}
.pl-4 {
 padding-left: 1rem;
}
.pl-5 {
 padding-left: 1.25rem;
}
.pl-6 {
 padding-left: 1.5rem;
}
.pl-7 {
 padding-left: 1.75rem;
}
.pl-8 {
 padding-left: 2rem;
}
.pl-9 {
 padding-left: 2.5rem;
}
.pl-10 {
 padding-left: 3rem;
}
.pl-11 {
 padding-left: 3.5rem;
}
.pl-12 {
 padding-left: 4rem;
}
.pl-13 {
 padding-left: 4.5rem;
}
.pl-14 {
 padding-left: 5rem;
}
.pl-15 {
 padding-left: 5.5rem;
}

//padding right
.pr-0 {
 padding-right: 0;
}
.pr-1 {
 padding-right: 0.25rem;
}
.pr-2 {
 padding-right: 0.5rem;
}
.pr-3 {
 padding-right: 0.75rem;
}
.pr-4 {
 padding-right: 1rem;
}
.pr-5 {
 padding-right: 1.25rem;
}
.pr-6 {
 padding-right: 1.5rem;
}
.pr-7 {
 padding-right: 1.75rem;
}
.pr-8 {
 padding-right: 2rem;
}
.pr-9 {
 padding-right: 2.5rem;
}
.pr-10 {
 padding-right: 3rem;
}
.pr-11 {
 padding-right: 3.5rem;
}
.pr-12 {
 padding-right: 4rem;
}
.pr-13 {
 padding-right: 4.5rem;
}
.pr-14 {
 padding-right: 5rem;
}
.pr-15 {
 padding-right: 5.5rem;
}

//breakpoint 700px
@include media(700px) {
 .centered_7 {
  padding-left: auto;
  padding-right: auto;
 }
 //padding top and bottom - 700
 .py-0_7 {
  padding-top: 0;
  padding-bottom: 0;
 }
 .py-1_7 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
 }

 .py-2_7 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
 }
 .py-3_7 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
 }
 .py-4_7 {
  padding-top: 1rem;
  padding-bottom: 1rem;
 }

 .py-5_7 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
 }
 .py-6_7 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
 }
 .py-7_7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
 }
 .py-8_7 {
  padding-top: 2rem;
  padding-bottom: 2rem;
 }
 .py-9_7 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
 }
 .py-10_7 {
  padding-top: 3rem;
  padding-bottom: 3rem;
 }
 .py-11_7 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
 }
 .py-12_7 {
  padding-top: 4rem;
  padding-bottom: 4rem;
 }
 .py-13_7 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
 }
 .py-14_7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
 }
 .py-15_7 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
 }

 //padding left and right - 700
 .px-0_7 {
  padding-left: 0;
  padding-right: 0;
 }

 .px-1_7 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
 }

 .px-2_7 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
 }
 .px-3_7 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
 }
 .px-4_7 {
  padding-left: 1rem;
  padding-right: 1rem;
 }

 .px-5_7 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
 }
 .px-6_7 {
  padding-left: 1.5em;
  padding-right: 1.5em;
 }
 .px-7_7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
 }
 .px-8_7 {
  padding-left: 2rem;
  padding-right: 2rem;
 }
 .px-9_7 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
 }
 .px-10_7 {
  padding-left: 3rem;
  padding-right: 3rem;
 }
 .px-11_7 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
 }
 .px-12_7 {
  padding-left: 4rem;
  padding-right: 4rem;
 }
 .px-13_7 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
 }
 .px-14_7 {
  padding-left: 5rem;
  padding-right: 5rem;
 }
 .px-15_7 {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
 }

 //padding top - 700
 .pt-0_7 {
  padding-top: 0;
 }
 .pt-1_7 {
  padding-top: 0.25rem;
 }
 .pt-2_7 {
  padding-top: 0.5rem;
 }
 .pt-3_7 {
  padding-top: 0.75rem;
 }
 .pt-4_7 {
  padding-top: 1rem;
 }
 .pt-5_7 {
  padding-top: 1.25rem;
 }
 .pt-6_7 {
  padding-top: 1.5rem;
 }
 .pt-7_7 {
  padding-top: 1.75rem;
 }
 .pt-8_7 {
  padding-top: 2rem;
 }
 .pt-9_7 {
  padding-top: 2.5rem;
 }
 .pt-10_7 {
  padding-top: 3rem;
 }
 .pt-11_7 {
  padding-top: 3.5rem;
 }
 .pt-12_7 {
  padding-top: 4rem;
 }
 .pt-13_7 {
  padding-top: 4.5rem;
 }
 .pt-14_7 {
  padding-top: 5rem;
 }
 .pt-15_7 {
  padding-top: 5.5rem;
 }

 //padding bottom - 700
 .pb-0_7 {
  padding-bottom: 0;
 }
 .pb-1_7 {
  padding-bottom: 0.25rem;
 }
 .pb-2_7 {
  padding-bottom: 0.5rem;
 }
 .pb-3_7 {
  padding-bottom: 0.75rem;
 }
 .pb-4_7 {
  padding-bottom: 1rem;
 }
 .pb-5_7 {
  padding-bottom: 1.25rem;
 }
 .pb-6_7 {
  padding-bottom: 1.5rem;
 }
 .pb-7_7 {
  padding-bottom: 1.75rem;
 }
 .pb-8_7 {
  padding-bottom: 2rem;
 }
 .pb-9_7 {
  padding-bottom: 2.5rem;
 }
 .pb-10_7 {
  padding-bottom: 3rem;
 }
 .pb-11_7 {
  padding-bottom: 3.5rem;
 }
 .pb-12_7 {
  padding-bottom: 4rem;
 }
 .pb-13_7 {
  padding-bottom: 4.5rem;
 }
 .pb-14_7 {
  padding-bottom: 5rem;
 }
 .pb-15_7 {
  padding-bottom: 5.5rem;
 }

 //padding left - 700
 .pl-0_7 {
  padding-left: 0;
 }
 .pl-1_7 {
  padding-left: 0.25rem;
 }
 .pl-2_7 {
  padding-left: 0.5rem;
 }
 .pl-3_7 {
  padding-left: 0.75rem;
 }
 .pl-4_7 {
  padding-left: 1rem;
 }
 .pl-5_7 {
  padding-left: 1.25rem;
 }
 .pl-6_7 {
  padding-left: 1.5rem;
 }
 .pl-7_7 {
  padding-left: 1.75rem;
 }
 .pl-8_7 {
  padding-left: 2rem;
 }
 .pl-9_7 {
  padding-left: 2.5rem;
 }
 .pl-10_7 {
  padding-left: 3rem;
 }
 .pl-11_7 {
  padding-left: 3.5rem;
 }
 .pl-12_7 {
  padding-left: 4rem;
 }
 .pl-13_7 {
  padding-left: 4.5rem;
 }
 .pl-14_7 {
  padding-left: 5rem;
 }
 .pl-15_7 {
  padding-left: 5.5rem;
 }

 //padding right - 700
 .pr-0_7 {
  padding-right: 0;
 }
 .pr-1_7 {
  padding-right: 0.25rem;
 }
 .pr-2_7 {
  padding-right: 0.5rem;
 }
 .pr-3_7 {
  padding-right: 0.75rem;
 }
 .pr-4_7 {
  padding-right: 1rem;
 }
 .pr-5_7 {
  padding-right: 1.25rem;
 }
 .pr-6_7 {
  padding-right: 1.5rem;
 }
 .pr-7_7 {
  padding-right: 1.75rem;
 }
 .pr-8_7 {
  padding-right: 2rem;
 }
 .pr-9_7 {
  padding-right: 2.5rem;
 }
 .pr-10_7 {
  padding-right: 3rem;
 }
 .pr-11_7 {
  padding-right: 3.5rem;
 }
 .pr-12_7 {
  padding-right: 4rem;
 }
 .pr-13_7 {
  padding-right: 4.5rem;
 }
 .pr-14_7 {
  padding-right: 5rem;
 }
 .pr-15_7 {
  padding-right: 5.5rem;
 }
}

///////////////////
//breakpoint 900px
@include media(900px) {
 .centered_9 {
  padding-left: auto;
  padding-right: auto;
 }
 //padding top and bottom - 900
 .py-0_9 {
  padding-top: 0;
  padding-bottom: 0;
 }
 .py-1_9 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
 }

 .py-2_9 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
 }
 .py-3_9 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
 }
 .py-4_9 {
  padding-top: 1rem;
  padding-bottom: 1rem;
 }

 .py-5_9 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
 }
 .py-6_9 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
 }
 .py-7_9 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
 }
 .py-8_9 {
  padding-top: 2rem;
  padding-bottom: 2rem;
 }
 .py-9_9 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
 }
 .py-10_9 {
  padding-top: 3rem;
  padding-bottom: 3rem;
 }
 .py-11_9 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
 }
 .py-12_9 {
  padding-top: 4rem;
  padding-bottom: 4rem;
 }
 .py-13_9 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
 }
 .py-14_9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
 }
 .py-15_9 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
 }

 //padding left and right - 900
 .px-0_9 {
  padding-left: 0;
  padding-right: 0;
 }

 .px-1_9 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
 }

 .px-2_9 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
 }
 .px-3_9 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
 }
 .px-4_9 {
  padding-left: 1rem;
  padding-right: 1rem;
 }

 .px-5_9 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
 }
 .px-6_9 {
  padding-left: 1.5em;
  padding-right: 1.5em;
 }
 .px-7_9 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
 }
 .px-8_9 {
  padding-left: 2rem;
  padding-right: 2rem;
 }
 .px-9_9 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
 }
 .px-10_9 {
  padding-left: 3rem;
  padding-right: 3rem;
 }
 .px-11_9 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
 }
 .px-12_9 {
  padding-left: 4rem;
  padding-right: 4rem;
 }
 .px-13_9 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
 }
 .px-14_9 {
  padding-left: 5rem;
  padding-right: 5rem;
 }
 .px-15_9 {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
 }

 //padding top - 900
 .pt-0_9 {
  padding-top: 0;
 }
 .pt-1_9 {
  padding-top: 0.25rem;
 }
 .pt-2_9 {
  padding-top: 0.5rem;
 }
 .pt-3_9 {
  padding-top: 0.75rem;
 }
 .pt-4_9 {
  padding-top: 1rem;
 }
 .pt-5_9 {
  padding-top: 1.25rem;
 }
 .pt-6_9 {
  padding-top: 1.5rem;
 }
 .pt-7_9 {
  padding-top: 1.75rem;
 }
 .pt-8_9 {
  padding-top: 2rem;
 }
 .pt-9_9 {
  padding-top: 2.5rem;
 }
 .pt-10_9 {
  padding-top: 3rem;
 }
 .pt-11_9 {
  padding-top: 3.5rem;
 }
 .pt-12_9 {
  padding-top: 4rem;
 }
 .pt-13_9 {
  padding-top: 4.5rem;
 }
 .pt-14_9 {
  padding-top: 5rem;
 }
 .pt-15_9 {
  padding-top: 5.5rem;
 }

 //padding bottom - 900
 .pb-0_9 {
  padding-bottom: 0;
 }
 .pb-1_9 {
  padding-bottom: 0.25rem;
 }
 .pb-2_9 {
  padding-bottom: 0.5rem;
 }
 .pb-3_9 {
  padding-bottom: 0.75rem;
 }
 .pb-4_9 {
  padding-bottom: 1rem;
 }
 .pb-5_9 {
  padding-bottom: 1.25rem;
 }
 .pb-6_9 {
  padding-bottom: 1.5rem;
 }
 .pb-7_9 {
  padding-bottom: 1.75rem;
 }
 .pb-8_9 {
  padding-bottom: 2rem;
 }
 .pb-9_9 {
  padding-bottom: 2.5rem;
 }
 .pb-10_9 {
  padding-bottom: 3rem;
 }
 .pb-11_9 {
  padding-bottom: 3.5rem;
 }
 .pb-12_9 {
  padding-bottom: 4rem;
 }
 .pb-13_9 {
  padding-bottom: 4.5rem;
 }
 .pb-14_9 {
  padding-bottom: 5rem;
 }
 .pb-15_9 {
  padding-bottom: 5.5rem;
 }

 //padding left - 900
 .pl-0_9 {
  padding-left: 0;
 }
 .pl-1_9 {
  padding-left: 0.25rem;
 }
 .pl-2_9 {
  padding-left: 0.5rem;
 }
 .pl-3_9 {
  padding-left: 0.75rem;
 }
 .pl-4_9 {
  padding-left: 1rem;
 }
 .pl-5_9 {
  padding-left: 1.25rem;
 }
 .pl-6_9 {
  padding-left: 1.5rem;
 }
 .pl-7_9 {
  padding-left: 1.75rem;
 }
 .pl-8_9 {
  padding-left: 2rem;
 }
 .pl-9_9 {
  padding-left: 2.5rem;
 }
 .pl-10_9 {
  padding-left: 3rem;
 }
 .pl-11_9 {
  padding-left: 3.5rem;
 }
 .pl-12_9 {
  padding-left: 4rem;
 }
 .pl-13_9 {
  padding-left: 4.5rem;
 }
 .pl-14_9 {
  padding-left: 5rem;
 }
 .pl-15_9 {
  padding-left: 5.5rem;
 }

 //padding right - 900
 .pr-0_9 {
  padding-right: 0;
 }
 .pr-1_9 {
  padding-right: 0.25rem;
 }
 .pr-2_9 {
  padding-right: 0.5rem;
 }
 .pr-3_9 {
  padding-right: 0.75rem;
 }
 .pr-4_9 {
  padding-right: 1rem;
 }
 .pr-5_9 {
  padding-right: 1.25rem;
 }
 .pr-6_9 {
  padding-right: 1.5rem;
 }
 .pr-7_9 {
  padding-right: 1.75rem;
 }
 .pr-8_9 {
  padding-right: 2rem;
 }
 .pr-9_9 {
  padding-right: 2.5rem;
 }
 .pr-10_9 {
  padding-right: 3rem;
 }
 .pr-11_9 {
  padding-right: 3.5rem;
 }
 .pr-12_9 {
  padding-right: 4rem;
 }
 .pr-13_9 {
  padding-right: 4.5rem;
 }
 .pr-14_9 {
  padding-right: 5rem;
 }
 .pr-15_9 {
  padding-right: 5.5rem;
 }
}

///////////////////
//breakpoint 1100px
@include media(1100px) {
 .centered_11 {
  padding-left: auto;
  padding-right: auto;
 }
 //padding top and bottom - 1100
 .py-0_11 {
  padding-top: 0;
  padding-bottom: 0;
 }
 .py-1_11 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
 }

 .py-2_11 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
 }
 .py-3_11 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
 }
 .py-4_11 {
  padding-top: 1rem;
  padding-bottom: 1rem;
 }

 .py-5_11 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
 }
 .py-6_11 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
 }
 .py-7_11 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
 }
 .py-8_11 {
  padding-top: 2rem;
  padding-bottom: 2rem;
 }
 .py-9_11 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
 }
 .py-10_11 {
  padding-top: 3rem;
  padding-bottom: 3rem;
 }
 .py-11_11 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
 }
 .py-12_11 {
  padding-top: 4rem;
  padding-bottom: 4rem;
 }
 .py-13_11 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
 }
 .py-14_11 {
  padding-top: 5rem;
  padding-bottom: 5rem;
 }
 .py-15_11 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
 }

 //padding left and right - 1100
 .px-0_11 {
  padding-left: 0;
  padding-right: 0;
 }

 .px-1_11 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
 }

 .px-2_11 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
 }
 .px-3_11 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
 }
 .px-4_11 {
  padding-left: 1rem;
  padding-right: 1rem;
 }

 .px-5_11 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
 }
 .px-6_11 {
  padding-left: 1.5em;
  padding-right: 1.5em;
 }
 .px-7_11 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
 }
 .px-8_11 {
  padding-left: 2rem;
  padding-right: 2rem;
 }
 .px-9_11 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
 }
 .px-10_11 {
  padding-left: 3rem;
  padding-right: 3rem;
 }
 .px-11_11 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
 }
 .px-12_11 {
  padding-left: 4rem;
  padding-right: 4rem;
 }
 .px-13_11 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
 }
 .px-14_11 {
  padding-left: 5rem;
  padding-right: 5rem;
 }
 .mx-15_11 {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
 }

 //padding top - 1100
 .pt-0_11 {
  padding-top: 0;
 }
 .pt-1_11 {
  padding-top: 0.25rem;
 }
 .pt-2_11 {
  padding-top: 0.5rem;
 }
 .pt-3_11 {
  padding-top: 0.75rem;
 }
 .pt-4_11 {
  padding-top: 1rem;
 }
 .pt-5_11 {
  padding-top: 1.25rem;
 }
 .pt-6_11 {
  padding-top: 1.5rem;
 }
 .pt-7_11 {
  padding-top: 1.75rem;
 }
 .pt-8_11 {
  padding-top: 2rem;
 }
 .pt-9_11 {
  padding-top: 2.5rem;
 }
 .pt-10_11 {
  padding-top: 3rem;
 }
 .pt-11_11 {
  padding-top: 3.5rem;
 }
 .pt-12_11 {
  padding-top: 4rem;
 }
 .pt-13_11 {
  padding-top: 4.5rem;
 }
 .pt-14_11 {
  padding-top: 5rem;
 }
 .pt-15_11 {
  padding-top: 5.5rem;
 }

 //padding bottom - 1100
 .pb-0_11 {
  padding-bottom: 0;
 }
 .pb-1_11 {
  padding-bottom: 0.25rem;
 }
 .pb-2_11 {
  padding-bottom: 0.5rem;
 }
 .pb-3_11 {
  padding-bottom: 0.75rem;
 }
 .pb-4_11 {
  padding-bottom: 1rem;
 }
 .pb-5_11 {
  padding-bottom: 1.25rem;
 }
 .pb-6_11 {
  padding-bottom: 1.5rem;
 }
 .pb-7_11 {
  padding-bottom: 1.75rem;
 }
 .pb-8_11 {
  padding-bottom: 2rem;
 }
 .pb-9_11 {
  padding-bottom: 2.5rem;
 }
 .pb-10_11 {
  padding-bottom: 3rem;
 }
 .pb-11_11 {
  padding-bottom: 3.5rem;
 }
 .pb-12_11 {
  padding-bottom: 4rem;
 }
 .pb-13_11 {
  padding-bottom: 4.5rem;
 }
 .pb-14_11 {
  padding-bottom: 5rem;
 }
 .pb-15_11 {
  padding-bottom: 5.5rem;
 }

 //padding left - 1100
 .pl-0_11 {
  padding-left: 0;
 }
 .pl-1_11 {
  padding-left: 0.25rem;
 }
 .pl-2_11 {
  padding-left: 0.5rem;
 }
 .pl-3_11 {
  padding-left: 0.75rem;
 }
 .pl-4_11 {
  padding-left: 1rem;
 }
 .pl-5_11 {
  padding-left: 1.25rem;
 }
 .pl-6_11 {
  padding-left: 1.5rem;
 }
 .pl-7_11 {
  padding-left: 1.75rem;
 }
 .pl-8_11 {
  padding-left: 2rem;
 }
 .pl-9_11 {
  padding-left: 2.5rem;
 }
 .pl-10_11 {
  padding-left: 3rem;
 }
 .pl-11_11 {
  padding-left: 3.5rem;
 }
 .pl-12_11 {
  padding-left: 4rem;
 }
 .pl-13_11 {
  padding-left: 4.5rem;
 }
 .pl-14_11 {
  padding-left: 5rem;
 }
 .pl-15_11 {
  padding-left: 5.5rem;
 }

 //padding right - 1100
 .pr-0_11 {
  padding-right: 0;
 }
 .pr-1_11 {
  padding-right: 0.25rem;
 }
 .pr-2_11 {
  padding-right: 0.5rem;
 }
 .pr-3_11 {
  padding-right: 0.75rem;
 }
 .pr-4_11 {
  padding-right: 1rem;
 }
 .pr-5_11 {
  padding-right: 1.25rem;
 }
 .pr-6_11 {
  padding-right: 1.5rem;
 }
 .pr-7_11 {
  padding-right: 1.75rem;
 }
 .pr-8_11 {
  padding-right: 2rem;
 }
 .pr-9_11 {
  padding-right: 2.5rem;
 }
 .pr-10_11 {
  padding-right: 3rem;
 }
 .pr-11_11 {
  padding-right: 3.5rem;
 }
 .pr-12_11 {
  padding-right: 4rem;
 }
 .pr-13_11 {
  padding-right: 4.5rem;
 }
 .pr-14_11 {
  padding-right: 5rem;
 }
 .pr-15_11 {
  padding-right: 5.5rem;
 }
}
