@use "../root" as *;

//typography
//font family
.font {
 font-family: $font;
}
.heading-font {
 font-family: $heading-font;
}
.code-font {
 font-family: $code-font;
}

//font-size
//see css/base/_typography.scss for <p> .p
.normal {
 font-size: $font-size; //1.2rem
}
.lead {
 font-size: $lead;
}
.secondary {
 font-size: $secondary;
}
.third {
 font-size: $third;
}

//see css/base/_typography.scss for headings h1, h2 etc.
//big heading sizes - classes only!
//based on screen width 320px to 1100px
.bighead-1 {
 font-size: clamp(2.5rem, 2.2949rem + 1.0256vw, 3rem);
}
.bighead-2 {
 font-size: clamp(3rem, 2.7949rem + 1.0256vw, 3.5rem);
}
.bighead-3 {
 font-size: clamp(3.5rem, 3.2949rem + 1.0256vw, 4rem);
}
.bighead-4 {
 font-size: clamp(4rem, 3.7949rem + 1.0256vw, 4.5rem);
}

//hyphens
.hyphens {
 hyphens: auto;
}
.hyphens-man {
 hyphens: manual;
}
.hyphens-none {
 hyphens: none;
}

//see _media.scss
//align
.center {
 text-align: center;
}
.left {
 text-align: left;
}
.right {
 text-align: right;
}

//letter spacing
.ls-tight {
 letter-spacing: -0.025em;
}
.ls-0 {
 letter-spacing: normal;
}
.ls {
 letter-spacing: 0.0625rem;
}
.ls-2 {
 letter-spacing: 0.125rem;
}
.ls-3 {
 letter-spacing: 0.1875rem;
}
.ls-4 {
 letter-spacing: 0.25rem;
}
.ls-5 {
 letter-spacing: 0.3125rem;
}
.ls-6 {
 letter-spacing: 0.375rem;
}
.ls-7 {
 letter-spacing: 0.4375rem;
}
.ls-8 {
 letter-spacing: 0.5rem;
}
.ls-9 {
 letter-spacing: 0.5625rem;
}
.ls-10 {
 letter-spacing: 0.625rem;
}

//line-height
.lh {
 line-height: 1;
}
.lh-1 {
 line-height: 1.1;
}
.lh-2 {
 line-height: 1.2;
}
.lh-3 {
 line-height: 1.3;
}
.lh-4 {
 line-height: 1.4;
}
.lh-5 {
 line-height: 1.5;
}
.lh-6 {
 line-height: 1.6;
}
.lh-7 {
 line-height: 1.7;
}
.lh-8 {
 line-height: 1.8;
}
.lh-9 {
 line-height: 1.9;
}
.lh-20 {
 line-height: 2;
}
.lh-21 {
 line-height: 2.1;
}

//font width
.font100 {
 font-weight: 100;
}
.font200 {
 font-weight: 200;
}
.font300 {
 font-weight: 300;
}
.font400 {
 font-weight: 400;
}
.font500 {
 font-weight: 500;
}
.font600 {
 font-weight: 600;
}
.font700 {
 font-weight: 700;
}
.font800 {
 font-weight: 800;
}
.font900 {
 font-weight: 900;
}

//font-style
.italic {
 font-style: italic;
}
.not-italic {
 font-style: normal;
}

//text-transform
.upper {
 text-transform: uppercase;
}
.lower {
 text-transform: lowercase;
}
.caps {
 text-transform: capitalize;
}
.normal-case {
 text-transform: none;
}

////////////////////////////////////////
///////////////////////////////////////
//breakpoint 700px
//not included font-family or headings. Headings using clamp function at the moment
@include media(700) {
 //font-size
 .normal_7 {
  font-size: $font-size; //1.2rem
 }
 .lead_7 {
  font-size: $lead;
 }
 .secondary_7 {
  font-size: $secondary;
 }
 .third_7 {
  font-size: $third;
 }

 //align
 .center_7 {
  text-align: center;
 }
 .left_7 {
  text-align: left;
 }
 .right_7 {
  text-align: right;
 }

 //letter spacing
 .ls-tight_7 {
  letter-spacing: -0.025em;
 }
 .ls-0_7 {
  letter-spacing: normal;
 }
 .ls_7 {
  letter-spacing: 0.0625rem;
 }
 .ls-2_7 {
  letter-spacing: 0.125rem;
 }
 .ls-3_7 {
  letter-spacing: 0.1875rem;
 }
 .ls-4_7 {
  letter-spacing: 0.25rem;
 }
 .ls-5_7 {
  letter-spacing: 0.3125rem;
 }
 .ls-6_7 {
  letter-spacing: 0.375rem;
 }
 .ls-7_7 {
  letter-spacing: 0.4375rem;
 }
 .ls-8_7 {
  letter-spacing: 0.5rem;
 }
 .ls-9_7 {
  letter-spacing: 0.5625rem;
 }
 .ls-10_7 {
  letter-spacing: 0.625rem;
 }

 //line-height
 .lh_7 {
  line-height: 1;
 }
 .lh-1_7 {
  line-height: 1.1;
 }
 .lh-2_7 {
  line-height: 1.2;
 }
 .lh-3_7 {
  line-height: 1.3;
 }
 .lh-4_7 {
  line-height: 1.4;
 }
 .lh-5_7 {
  line-height: 1.5;
 }
 .lh-6_7 {
  line-height: 1.6;
 }
 .lh-7_7 {
  line-height: 1.7;
 }
 .lh-8_7 {
  line-height: 1.8;
 }
 .lh-9_7 {
  line-height: 1.9;
 }
 .lh-20_7 {
  line-height: 2;
 }
 .lh-21_7 {
  line-height: 2.1;
 }

 //font width
 .font100_7 {
  font-weight: 100;
 }
 .font200_7 {
  font-weight: 200;
 }
 .font300_7 {
  font-weight: 300;
 }
 .font400_7 {
  font-weight: 400;
 }
 .font500_7 {
  font-weight: 500;
 }
 .font600_7 {
  font-weight: 600;
 }
 .font700_7 {
  font-weight: 700;
 }
 .font800_7 {
  font-weight: 800;
 }
 .font900_7 {
  font-weight: 900;
 }

 //font-style
 .italic_7 {
  font-style: italic;
 }
 .not-italic_7 {
  font-style: normal;
 }

 //text-transform
 .upper_7 {
  text-transform: uppercase;
 }
 .lower_7 {
  text-transform: lowercase;
 }
 .caps_7 {
  text-transform: capitalize;
 }
 .normal-case_7 {
  text-transform: none;
 }
}

////////////////////////////////////////
///////////////////////////////////////
//breakpoint 900px
//not included font-family or headings. Headings using clamp function at the moment
@include media(900) {
 //font-size
 .normal_9 {
  font-size: $font-size; //1.2rem
 }
 .lead_9 {
  font-size: $lead;
 }
 .secondary_9 {
  font-size: $secondary;
 }
 .third_9 {
  font-size: $third;
 }

 //align
 .center_9 {
  text-align: center;
 }
 .left_9 {
  text-align: left;
 }
 .right_9 {
  text-align: right;
 }

 //letter spacing
 .ls-tight_9 {
  letter-spacing: -0.025em;
 }
 .ls-0_9 {
  letter-spacing: normal;
 }
 .ls_9 {
  letter-spacing: 0.0625rem;
 }
 .ls-2_9 {
  letter-spacing: 0.125rem;
 }
 .ls-3_9 {
  letter-spacing: 0.1875rem;
 }
 .ls-4_9 {
  letter-spacing: 0.25rem;
 }
 .ls-5_9 {
  letter-spacing: 0.3125rem;
 }
 .ls-6_9 {
  letter-spacing: 0.375rem;
 }
 .ls-7_9 {
  letter-spacing: 0.4375rem;
 }
 .ls-8_9 {
  letter-spacing: 0.5rem;
 }
 .ls-9_9 {
  letter-spacing: 0.5625rem;
 }
 .ls-10_9 {
  letter-spacing: 0.625rem;
 }

 //line-height
 .lh_9 {
  line-height: 1;
 }
 .lh-1_9 {
  line-height: 1.1;
 }
 .lh-2_9 {
  line-height: 1.2;
 }
 .lh-3_9 {
  line-height: 1.3;
 }
 .lh-4_9 {
  line-height: 1.4;
 }
 .lh-5_9 {
  line-height: 1.5;
 }
 .lh-6_9 {
  line-height: 1.6;
 }
 .lh-7_9 {
  line-height: 1.7;
 }
 .lh-8_9 {
  line-height: 1.8;
 }
 .lh-9_9 {
  line-height: 1.9;
 }
 .lh-20_9 {
  line-height: 2;
 }
 .lh-21_9 {
  line-height: 2.1;
 }

 //font width
 .font100_9 {
  font-weight: 100;
 }
 .font200_9 {
  font-weight: 200;
 }
 .font300_9 {
  font-weight: 300;
 }
 .font400_9 {
  font-weight: 400;
 }
 .font500_9 {
  font-weight: 500;
 }
 .font600_9 {
  font-weight: 600;
 }
 .font700_9 {
  font-weight: 700;
 }
 .font800_9 {
  font-weight: 800;
 }
 .font900_9 {
  font-weight: 900;
 }

 //font-style
 .italic_9 {
  font-style: italic;
 }
 .not-italic_9 {
  font-style: normal;
 }

 //text-transform
 .upper_9 {
  text-transform: uppercase;
 }
 .lower_9 {
  text-transform: lowercase;
 }
 .caps_9 {
  text-transform: capitalize;
 }
 .normal-case_9 {
  text-transform: none;
 }
}

////////////////////////////////////////
///////////////////////////////////////
//breakpoint 1100px
//not included font-family or headings. Headings using clamp function at the moment
@include media(1100) {
 //font-size
 .normal_11 {
  font-size: $font-size; //1.2rem
 }
 .lead_11 {
  font-size: $lead;
 }
 .secondary_11 {
  font-size: $secondary;
 }
 .third_11 {
  font-size: $third;
 }

 //align
 .center_11 {
  text-align: center;
 }
 .left_11 {
  text-align: left;
 }
 .right_11 {
  text-align: right;
 }

 //letter spacing
 .ls-tight_11 {
  letter-spacing: -0.025em;
 }
 .ls-0_11 {
  letter-spacing: normal;
 }
 .ls_11 {
  letter-spacing: 0.0625rem;
 }
 .ls-2_11 {
  letter-spacing: 0.125rem;
 }
 .ls-3_11 {
  letter-spacing: 0.1875rem;
 }
 .ls-4_11 {
  letter-spacing: 0.25rem;
 }
 .ls-5_11 {
  letter-spacing: 0.3125rem;
 }
 .ls-6_11 {
  letter-spacing: 0.375rem;
 }
 .ls-7_11 {
  letter-spacing: 0.4375rem;
 }
 .ls-8_11 {
  letter-spacing: 0.5rem;
 }
 .ls-9_11 {
  letter-spacing: 0.5625rem;
 }
 .ls-10_11 {
  letter-spacing: 0.625rem;
 }

 //line-height
 .lh_11 {
  line-height: 1;
 }
 .lh-1_11 {
  line-height: 1.1;
 }
 .lh-2_11 {
  line-height: 1.2;
 }
 .lh-3_11 {
  line-height: 1.3;
 }
 .lh-4_11 {
  line-height: 1.4;
 }
 .lh-5_11 {
  line-height: 1.5;
 }
 .lh-6_11 {
  line-height: 1.6;
 }
 .lh-7_11 {
  line-height: 1.7;
 }
 .lh-8_11 {
  line-height: 1.8;
 }
 .lh-9_11 {
  line-height: 1.9;
 }
 .lh-20_11 {
  line-height: 2;
 }
 .lh-21_11 {
  line-height: 2.1;
 }

 //font width
 .font100_11 {
  font-weight: 100;
 }
 .font200_11 {
  font-weight: 200;
 }
 .font300_11 {
  font-weight: 300;
 }
 .font400_11 {
  font-weight: 400;
 }
 .font500_11 {
  font-weight: 500;
 }
 .font600_11 {
  font-weight: 600;
 }
 .font700_11 {
  font-weight: 700;
 }
 .font800_11 {
  font-weight: 800;
 }
 .font900_11 {
  font-weight: 900;
 }

 //font-style
 .italic_11 {
  font-style: italic;
 }
 .not-italic_11 {
  font-style: normal;
 }

 //text-transform
 .upper_11 {
  text-transform: uppercase;
 }
 .lower_11 {
  text-transform: lowercase;
 }
 .caps_11 {
  text-transform: capitalize;
 }
 .normal-case_11 {
  text-transform: none;
 }
}
