@use "../root" as *;

//typography
//font family
.font {
 font-family: $font;
}
.heading-font {
 font-family: $heading-font;
}
.code-font {
 font-family: $code-font;
}

//font-size
.normal {
 font-size: $font-size; //1.2rem
}
.lead {
 font-size: $lead;
}
.secondary {
 font-size: $secondary;
}
.third {
 font-size: $third;
}

.small {
 font-size: 70%;
}

.big {
 font-size: 145%;
}

//see _media.scss
//align
.center {
 text-align: center;
}
.left {
 text-align: left;
}
.right {
 text-align: right;
}

//big heading sizes - classes only!
.bighead-1 {
 font-size: clamp(2.5rem, 2.2949rem + 1.0256vw, 3rem);
}
.bighead-2 {
 font-size: clamp(3rem, 2.7949rem + 1.0256vw, 3.5rem);
}
.bighead-3 {
 font-size: clamp(3.5rem, 3.2949rem + 1.0256vw, 4rem);
}
.bighead-4 {
 font-size: clamp(4rem, 3.7949rem + 1.0256vw, 4.5rem);
}

//letter spacing
.ls-tight {
 letter-spacing: -0.025em;
}
.ls-0 {
 letter-spacing: normal;
}
.ls {
 letter-spacing: 1px;
}
.ls-2 {
 letter-spacing: 2px;
}
.ls-3 {
 letter-spacing: 3px;
}
.ls-4 {
 letter-spacing: 4px;
}
.ls-5 {
 letter-spacing: 5px;
}
.ls-6 {
 letter-spacing: 6px;
}
.ls-7 {
 letter-spacing: 7px;
}
.ls-8 {
 letter-spacing: 8px;
}
.ls-9 {
 letter-spacing: 9px;
}
.ls-10 {
 letter-spacing: 10px;
}

//line-height
.lh {
 line-height: 1;
}
.lh-1 {
 line-height: 1.1;
}
.lh-2 {
 line-height: 1.2;
}
.lh-3 {
 line-height: 1.3;
}
.lh-4 {
 line-height: 1.4;
}
.lh-5 {
 line-height: 1.5;
}
.lh-6 {
 line-height: 1.6;
}
.lh-7 {
 line-height: 1.7;
}
.lh-8 {
 line-height: 1.8;
}
.lh-9 {
 line-height: 1.9;
}
.lh-20 {
 line-height: 2;
}
.lh-21 {
 line-height: 2.1;
}

//font width
.font100 {
 font-weight: 100;
}
.font200 {
 font-weight: 200;
}
.font300 {
 font-weight: 300;
}
.font400 {
 font-weight: 400;
}
.font500 {
 font-weight: 500;
}
.font600 {
 font-weight: 600;
}
.font700 {
 font-weight: 700;
}
.font800 {
 font-weight: 800;
}
.font900 {
 font-weight: 900;
}

//font-style
.italic {
 font-style: italic;
}
.not-italic {
 font-style: normal;
}

//text-transform
.upper {
 text-transform: uppercase;
}
.lower {
 text-transform: lowercase;
}
.caps {
 text-transform: capitalize;
}
.normal-case {
 text-transform: none;
}

//list-style
.list-none {
 list-style: none;
}
.list-disc {
 list-style: disc;
}
.list-decimal {
 list-style: decimal;
}
.list-circle {
 list-style: circle;
}
.list-square {
 list-style: square;
}
.list-inside {
 list-style-position: inside;
}
.list-outside {
 list-style-position: outside;
}
