@use "../root/variables" as *;

//typography
//font-size
.normal {
 font-size: $font-size;
}

.lead {
 font-size: $lead;
}

.secondary {
 font-size: $secondary;
}

.third {
 font-size: $third;
}

//see _media.scss
//align
.center {
 text-align: center;
}

.left {
 text-align: left;
}

.right {
 text-align: right;
}

//heading sizes
.heading-1 {
 font-size: 4rem;
}

.heading-2 {
 font-size: 3.5rem;
}

.heading-3 {
 font-size: 3rem;
}

.heading-4 {
 font-size: 2.5rem;
}

.heading-5 {
 font-size: 2rem;
}

.heading-6 {
 font-size: 1.75rem;
}

.heading-7 {
 font-size: 1.5rem;
}

.heading-8 {
 font-size: 1.35rem;
}
