// =======================
// Dark Theme
// =======================
//Dark theme works by placing a class of 'inverted' on the 'body' tag.
//More Dark theme styles found test/css/_test.scss that apply to the 'test' page.
//The button, styles and js to control the Dark theme can be found: test/test.kit, test/css/_test.scss, test/js/dark-theme.js.
@use "../root/" as *;

//Dark theme styles to control basic 'phone1st' theme
body.inverted {
 background-color: $black;
 color: $white;
}

.inverted {
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  color: $white;
 }

 hr {
  border-bottom: 1px solid $white;
 }

 mark,
 ins {
  color: $black;
 }

 #{$all-text-inputs} {
  border: 1px solid $light-gray;
  box-shadow: inset 0 1px 2px rgba(#9f9f9f, 0.26);
  background-color: rgba(47.813, 47.813, 47.813, 0.3);
  color: $light-gray;

  &::placeholder {
   color: $medium-gray;
  }
 }

 [type="file"],
 select {
  background: transparent;
  color: $light-gray;
 }
 table {
  th,
  td {
   border-top: 1px solid $light-gray;
   color: $light-gray;
  }

  @media (hover: hover) {
   tbody tr:hover td,
   tbody tr:hover th {
    background-color: $black-60;
   }
  }
 }

 .table-bordered {
  border: 1px solid $light-gray;

  th,
  td {
   border-left: 1px solid $light-gray;
  }
 }

 .table-striped {
  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
   background-color: $black-60;
  }
 }

 figcaption {
  color: $light-gray;
 }

 .img-framed {
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  box-shadow: 2px 2px 2px $medium-gray;
 }
 .pagination {
  color: $font-color;
 }
}
