// =======================
// Naviagtion
// =======================

@use "sass:math";
@use "../root/" as *;

// Breadcrumbs
.breadcrumb-box {
 margin-bottom: $spacer;

 p {
  font-size: $third;
 }
}

// Page Naviagtion
.pagination {
 margin: math.div($spacer, 2) auto $spacer auto;
 width: 95%;
 text-align: center;

 ul {
  li {
   display: inline;
   font-family: $heading-font;
   font-size: math.div($third, 1.2);
   font-weight: bold;

   &:first-child a,
   &:first-child span,
   &:last-child a,
   &:last-child span {
    background: $background;
    border-radius: $radius;
   }

   a,
   span {
    padding: 0.2rem 0.6rem;
    background: $background;
    border-radius: $radius;
   }
  }
 }
}

// Next/Previous Navigation
.prev-next {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-between;
 align-items: center;
 list-style: none;
}

.prev-link,
.next-link {
 font-size: $third;
 background: $background;
 border-radius: $radius;
 padding: 0.3rem 0.5rem;
}
