// =======================
// Site
// =======================

@use "../root/" as *;

html {
 box-sizing: border-box;
 scroll-behavior: smooth;
}

body {
 font-feature-settings: "kern", "liga", "pnum";
 text-rendering: optimizeLegibility;
 background-color: var(--viewport-bg);
 color: var(--font-color);
 font-family: $font;
 font-size: $font-size;
 line-height: 1.6;
}

a {
 color: var(--link-color);
 font-weight: 600;
 text-decoration: none;
 text-decoration-skip-ink: auto;
 transition: color $duration $timing;

 //pointer: fine - accurate pointer device such as mouse, touchpads, or stylus
 @media (hover: hover) and (pointer: fine) {
  &:hover {
   color: var(--hover-color);
  }
 }
}

//start to build the page
//see the test folder and test.kit
.wrapper {
 padding: $spacer 5%;
}

@include media(900) {
 .wrapper {
  max-width: 900px;
  @include center;
  color: var(--link-color);
  transition: color $duration $timing;
 }
}
