// =======================
// Site
// =======================

@use "../root/" as *;

body {
 color: $font-color;
 font-family: $font;
 font-feature-settings: "kern", "liga", "pnum";
 font-size: $font-size;
 line-height: 1.6;
 text-rendering: optimizeLegibility;
}

a {
 color: $link-color;
 text-decoration: none;
 text-decoration-skip-ink: auto;
 transition: color $duration $timing;

 //pointer: fine - accurate pointer device such as mouse, touchpads, or stylus
 @media (hover: hover) and (pointer: fine) {
  &:hover {
   color: $hover-color;
  }
 }
}

//start to build the page
//see the test folder and test.kit
.wrapper {
 padding: $spacer 5%;
}

@include media(900) {
 .wrapper {
  max-width: 900px;
  @include center;
 }
}
