// =======================
// Page Mixins
// =======================
@use "sass:math";
@use "../../css/root/" as *;
@use "highlight";

$shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

/* --- Top Progress Bar --- */
#top-progress-container {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 4px;
 z-index: 2000;
}
#top-progress-bar {
 height: 100%;
 background: var(--first);
 width: 0%;
}

// Back to Top
#back-to-top {
 position: fixed;
 bottom: 2rem;
 right: 2rem;
 width: 65px;
 height: 65px;
 background: rgb(203, 203, 232);
 border-radius: 50%;
 border: none;
 box-shadow: $shadow;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 visibility: hidden;
 opacity: 0;
 transition: 0.3s;
}
#back-to-top.visible {
 visibility: visible;
 opacity: 1;
}
#progress-ring {
 transform: rotate(-90deg);
 transform-origin: center;
}

//basic
pre {
 text-align: left;
 border-radius: $radius;
}

code {
 font-size: $third;
}

hr {
 margin: 2rem 10px;
}

.links-title {
 font-size: 1.6rem;
 text-align: center;
}

.links {
 margin: math.div($spacer, 2) 0 $spacer 0;
 text-align: center;

 a {
  display: block;
  font-size: $secondary;
 }
}

@include media(700) {
 .links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;

  div {
   width: 30%;
  }
 }
}
