// =======================
// Page Mixins
// =======================
@use "sass:math";
@use "../../css/root/" as *;
@use "highlight";

// Back to Top
#topBtn {
 font-family: $heading-font;
 text-align: center;
 @include border-right-radius(0);
 position: fixed;
 bottom: 50px;
 right: 0;
 background: $black;
 display: none;
 padding: 0.7rem;
 font-size: $third;
 letter-spacing: 1px;
 color: $white;
 opacity: 0.7;

 @media (hover: hover) {
  &:active,
  &:focus,
  &:hover {
   opacity: 1;
  }
 }
}

//basic
pre {
 text-align: left;
 border-radius: $radius;
}

code {
 font-size: $secondary;
}

hr {
 margin: $spacer math.div($spacer, 2);
}

.links-title {
 font-size: 1.6rem;
 text-align: center;
}

.links {
 margin: math.div($spacer, 2) 0 $spacer 0;
 text-align: center;

 a {
  display: block;
  font-size: $secondary;
 }
}

@include media(700) {
 .links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;

  div {
   width: 30%;
  }
 }
}

//scss Mixins
.scss-extras {
 text-align: center;
 overflow: hidden;

 .center-element {
  @include center;
  background: #e03d44;
  @include size(80%, 60px);
 }

 .hidden-box,
 .show-box {
  @include center;
  padding: 7px;
  font-size: 0.9rem;
  color: orange;
  border: 1px solid blue;
 }

 .hidden-box {
  @include size(300px, 70px);
  &:hover span {
   @include hidden;
  }
 }

 .show-box {
  @include size(300px, 100px);
  span {
   @include hidden;
  }
  &:hover span {
   @include show;
  }
 }

 .media-points p {
  color: red;
 }

 @include media(600) {
  .media-points p {
   color: blue;
  }
 }

 @include media(700) {
  .media-points p {
   color: rgb(153, 71, 236);
  }
 }

 @include media(934) {
  .media-points p {
   color: rgb(34, 224, 126);
  }
 }

 @include media(93rem) {
  .media-points p {
   color: rgb(235, 220, 85);
  }
 }

 .show-border {
  @include size(300px, 80px);
  @include center;
  @include border-top-radius(20px);
  @include border-bottom-radius(10px);
  @include border-width(5px 0.9em 2ex $small-spacer);
  @include border-style(solid double inset dotted);
  @include border-color(green blue $first-color rgb(199, 199, 36));
 }

 .show-border-two {
  @include size(300px, 80px);
  @include center;
  @include border-left-radius(20px);
  @include border-right-radius(25px);
  @include border-width(thick 0.8ex null 1.25ex);
  @include border-style(dashed dotted null groove);
  @include border-color(hsl(60 90% 50% / 0.8) blue null rgb(255 0 0));
 }

 .ellipsis {
  @include size(300px, 80px);
  @include center;
  font-size: 1.1rem;
  padding: 10px;
  border: 1px solid blue;
  &:hover span {
   @include ellipsis;
  }
 }

 .triangle {
  @include size(300px, 50px);
  @include center;
  background-color: #b25c9c;
  position: relative;

  &::before {
   @include triangle(up, 2rem, 1rem, #b25c9c);
   position: absolute;
   content: "";
   top: -1rem;
   left: 6rem;
  }
 }

 .position {
  @include size(300px, 5em);
  @include center;
  border: 1px solid blue;
  position: relative;
  div {
   @include position(absolute, 10px 30px 30px 0);
   background-color: rgba(39, 44, 49, 0.3);
  }
 }

 .position-two {
  @include size(300px, 5em);
  @include center;
  border: 1px solid red;
  position: relative;
  div {
   @include size(100px, 20px);
   @include position(absolute, 10px null null 0);
   background-color: rgba(39, 44, 49, 0.3);
  }
 }

 .margin {
  @include size(300px, 5em);
  @include center;
  border: 1px solid red;
  div {
   @include size(80px, 50px);
   @include margin(30px null null 40px);
   border: 1px solid blue;
  }
 }

 .padding {
  max-width: 500px;
  @include center;
  border: 1px solid red;
  @include padding(15px 20px);
 }

 .size {
  @include size(300px, 1.8em);
  @include center;
  border: 1px solid blue;
 }

 .size-two {
  @include size(auto, 5em);
  border: 1px solid red;
 }

 .buttons {
  #{$all-buttons} {
   padding: 15px 40px;
   font-size: $secondary;
   background-color: red;
   color: white;
   transition: background-color $duration $timing;
   @media (hover: hover) {
    &:hover {
     background-color: blue;
    }
   }
  }
 }

 .text-inputs {
  #{$all-text-inputs} {
   width: 300px;
   @include padding(10px 5px);
   @include margin($medium-spacer auto);
  }
 }

 .shade {
  @include size(300px, 100px);
  @include center;
  background-color: shade(blue, 40%);
 }
 .tint {
  @include size(300px, 100px);
  @include center;
  background-color: tint(blue, 40%);
 }
}

//dropdowns
.dropdown-menu {
 display: none;
}

/* Class to show the menu */
.open-menu {
 display: block;
 //padding: 30px !important;
}

.dropdown-container {
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.dropdown {
 border: $border;
 border-radius: 6px;
 overflow: hidden;
 box-shadow: rgba(39, 44, 49, 0.06) 8px 8px 10px,
  rgba(39, 44, 49, 0.03) 1px 3px 8px;
 transition: all 0.5s ease;
}

.dropdown-header {
 color: $first-color;
 padding: 14px 16px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.dropdown-header:hover {
 cursor: pointer;
}

.dropdown-header.open {
 background-color: $first-color;
 color: $white;
}

.dropdown-menu {
 transition: max-height 0.3s ease, padding 0.3s ease;
 padding: 15px 20px;
}

.dropdown-menu {
 pre {
  margin: $small-spacer 0;
 }
}

.arrow {
 width: 25px;
 height: 25px;
 fill: $first-color;
 transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out,
  filter 0.2s ease-in-out;
 transform-origin: center;
}

// .rotate {
//  transform: rotate(180deg);
// }

.dropdown-header.open .arrow {
 fill: $white;
}

.dropdown-header.open .arrow {
 fill: $white;
 transform: rotate(180deg);
}

@include media(700) {
 .dropdown-header:hover {
  transition: all 0.7s ease;
  transform: translate3D(0, -1px, 0) scale(1.02);
 }
 .dropdown-menu {
  pre {
   margin-bottom: $small-spacer !important;
  }
 }
}

@include media(900) {
 .dropdown-menu.open-menu {
  padding: 18px $spacer;
 }
 .dropdown-menu p {
  font-size: $secondary;
 }
}
