@use "sass:math";
@use "../../css/root/" as *;

//scss Mixins
.scss-extras {
 text-align: center;
 overflow: hidden;

 code {
  font-size: $third;
 }

 .center-element {
  @include center;
  background: var(--bg);
  @include size(80%, 60px);
 }

 .hidden-box,
 .show-box {
  @include center;
  padding: 7px;
  font-size: 0.9rem;
  color: var(--error);
  border: 1px solid var(--first);
 }

 .hidden-box {
  @include size(300px, 70px);
  &:hover span {
   @include hidden;
  }
 }

 .show-box {
  @include size(300px, 100px);
  span {
   @include hidden;
  }
  &:hover span {
   @include show;
  }
 }

 .media-points p {
  color: red;
 }

 @include media(600) {
  .media-points p {
   color: blue;
  }
 }

 @include media(700) {
  .media-points p {
   color: rgb(153, 71, 236);
  }
 }

 @include media(934) {
  .media-points p {
   color: rgb(34, 224, 126);
  }
 }

 @include media(93rem) {
  .media-points p {
   color: rgb(235, 220, 85);
  }
 }

 .ellipsis {
  @include size(300px, 80px);
  @include center;
  font-size: 1.1rem;
  padding: 10px;
  border: 1px solid var(--first);
  &:hover span {
   @include ellipsis;
  }
 }

 .triangle {
  @include size(300px, 50px);
  @include center;
  background-color: #6060ff;
  position: relative;

  &::before {
   @include triangle(up, 2rem, 1rem, #6060ff);
   position: absolute;
   content: "";
   top: -1rem;
   left: 6rem;
  }
 }

 .position {
  @include size(300px, 5em);
  @include center;
  border: 1px solid var(--first);
  position: relative;
  div {
   @include position(absolute, 10px 30px 30px 0);
   background-color: var(--bg);
  }
 }

 .position-two {
  @include size(300px, 5em);
  @include center;
  border: 1px solid var(--first);
  position: relative;
  div {
   @include size(100px, 20px);
   @include position(absolute, 10px null null 0);
   background-color: var(--bg);
  }
 }

 .margin {
  @include size(300px, 5em);
  @include center;
  border: 1px solid red;
  div {
   @include size(80px, 50px);
   @include margin(30px null null 40px);
   border: 1px solid var(--first);
  }
 }

 .padding {
  max-width: 500px;
  @include center;
  border: 1px solid var(--first);
  @include padding(15px 20px);
 }

 .size {
  @include size(300px, 1.8em);
  @include center;
  border: 1px solid var(--first);
 }

 .size-two {
  @include size(auto, 5em);
  border: 1px solid var(--first);
 }
}
