@use "sass:math";
@use "../../css/root/" as *;

//scss Mixins
.scss-extras {
 text-align: center;
 overflow: hidden;

 code {
  font-size: $third;
 }

 .center-element {
  @include center;
  background: var(--bg);
  width: 80%;
  height: 60px;
 }

 .big-head {
  .bighead-one {
   @include bighead-1;
  }
  .bighead-two {
   @include bighead-2;
  }
  .bighead-three {
   @include bighead-3;
  }
  .bighead-four {
   @include bighead-4;
  }
 }

 .hidden-box,
 .show-box {
  @include center;
  padding: 7px;
  font-size: 0.9rem;
  color: var(--error);
  border: 1px solid $first-color;
 }

 .hidden-box {
  width: 300px;
  height: 70px;
  &:hover span {
   @include hidden;
  }
 }

 .show-box {
  width: 300px;
  height: 100px;
  span {
   @include hidden;
  }
  &:hover span {
   @include show;
  }
 }

 .media-points p {
  color: red;
 }

 @include media($small) {
  .media-points p {
   color: blue;
  }
 }

 @include media(768) {
  .media-points p {
   color: rgb(153, 71, 236);
  }
 }

 @include media(934) {
  .media-points p {
   color: rgb(34, 224, 126);
  }
 }

 @include media(93rem) {
  .media-points p {
   color: rgb(235, 220, 85);
  }
 }

 .ellipsis {
  width: 300px;
  height: 80px;
  @include center;
  font-size: 1.1rem;
  padding: 10px;
  border: 1px solid $first-color;
  &:hover span {
   @include ellipsis;
  }
 }

 .triangle {
  width: 300px;
  height: 50px;
  @include center;
  background-color: $first-color;
  position: relative;

  &::before {
   @include triangle(2.5rem, $first-color, up);
   position: absolute;
   content: "";
   top: -2.5rem;
   left: 6rem;
  }
 }
}
