// =======================
// Test
// =======================
@use "sass:math";
@use "../../css/root/" as *;

.intro-para {
 text-align: center;
 margin-bottom: $spacer;
 color: var(--font-color);
}

.test-subheader {
 text-align: center;
 margin-bottom: $spacer;
 letter-spacing: 2px;
}

.theme-variables div {
 margin: math.div($spacer, 1.5);
}

.theme-variables p {
 padding: math.div($spacer, 2);
}

.first-color {
 background: var(--first);
 p {
  color: $white;
 }
}

.black-color {
 background: $black;

 p {
  color: $white;
 }
}

.white-color {
 background: $white;
 p {
  color: $black;
 }
}

.dark-gray {
 background: var(--dark-gray);

 p {
  color: $white;
 }
}

.medium-gray {
 background: var(--medium-gray);
 p {
  color: $white;
 }
}

.light-gray {
 background: var(--light-gray);
 p {
  color: $black;
 }
}

.font-color {
 background: var(--font-color);

 p {
  color: $black;
 }
}

.link-color {
 background: var(--link-color);
 p {
  color: $white;
 }
}

.hover-color {
 background: var(--hover-color);
 p {
  color: $white;
 }
}

.background {
 background: var(--bg);
 p {
  color: $white;
 }
}

.light-background {
 background: var(--light-bg);
 p {
  color: $black;
 }
}

.border {
 border: var(--border);
 border-radius: $radius;
 margin-bottom: 2rem;

 p {
  margin: 0;
 }
}

.error-color {
 background: var(--error);
 p {
  color: $white;
 }
}

.alert-color {
 background: var(--alert);
 p {
  color: $white;
 }
}

.success-color {
 background: var(--success);
 p {
  color: $white;
 }
}

.one {
 font-weight: 100;
}

.two {
 font-weight: 200;
}

.three {
 font-weight: 300;
}

.four {
 font-weight: 400;
}

.five {
 font-weight: 500;
}

.six {
 font-weight: 600;
}

.seven {
 font-weight: 700;
}

.eight {
 font-weight: 800;
}

.nine {
 font-weight: 900;
}

.margin-spacer {
 border-left: var(--border);
 p {
  font-size: $secondary;
 }
 .small-margin {
  border: var(--border);
  margin-left: $s-2;
  margin-bottom: $s-2;
  padding: $s-2;
 }
 .medium-margin {
  border: var(--border);
  margin-left: $s-4;
  margin-bottom: $s-4;
  padding: $s-4;
 }
 .normal-margin {
  border: var(--border);
  margin-left: $spacer;
  margin-bottom: $spacer;
  padding: $spacer;
 }
 .large-margin {
  border: var(--border);
  margin-left: $s-10;
  margin-bottom: $s-10;
  padding: $s-10;
 }
 .big-margin {
  border: var(--border);
  margin-left: $s-12;
  margin-bottom: $s-12;
  padding: $s-12;
 }
}

.shadow {
 filter: var(--filter-shadow);
}
