// =======================
// Test
// =======================
@use "sass:math";
@use "../../css/root/" as *;

// Back to Top
#topBtn {
 font-family: $heading-font;
 text-align: center;
 @include border-right-radius(0);
 position: fixed;
 bottom: 50px;
 right: 0;
 background: $black;
 display: none;
 padding: 0.7rem;
 font-size: $third;
 letter-spacing: 1px;
 color: $white;
 opacity: 0.7;

 @media (hover: hover) {
  &:active,
  &:focus,
  &:hover {
   opacity: 1;
  }
 }
}

.intro-para {
 text-align: center;
 margin-bottom: $spacer;
}

hr {
 margin: $spacer math.div($spacer, 2);
}

.links-title {
 font-size: 1.6rem;
 text-align: center;
}

.links {
 margin: math.div($spacer, 2) 0 $spacer 0;
 text-align: center;

 a {
  display: block;
  font-size: $secondary;
 }
}

.test-subheader {
 font-size: 1.6rem;
 text-align: center;
 margin-bottom: $spacer;
}

@include media(700) {
 .links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
 }

 .test-subheader {
  font-size: 1.7rem;
 }
}

.theme-variables div {
 margin: math.div($spacer, 1.5);
}

.theme-variables p {
 padding: math.div($spacer, 2);
}

.first-color {
 background: $first-color;

 p {
  color: #fff;
 }
}

.second-color {
 background: $second-color;

 p {
  color: #fff;
 }
}

.black-color {
 background: $black;

 p {
  color: #fff;
 }
}

.white-color {
 background: $white;
}

.dark-gray {
 background: $dark-gray;

 p {
  color: #fff;
 }
}

.medium-gray {
 background: $medium-gray;
 p {
  color: #fff;
 }
}

.light-gray {
 background: $light-gray;
 p {
  color: $black;
 }
}

.font-color {
 background: $font-color;

 p {
  color: #fff;
 }
}

.link-color {
 background: $link-color;
 p {
  color: #fff;
 }
}

.hover-color {
 background: $hover-color;
 p {
  color: #fff;
 }
}

.background {
 background: $background;
}

.light-background {
 background: $light-background;
}

.border {
 border: $border;
 border-radius: $radius;
 margin-bottom: 2rem;

 p {
  margin: 0;
 }
}

.error-color {
 background: $error-color;
 p {
  color: #fff;
 }
}

.alert-color {
 background: $alert-color;
 p {
  color: #fff;
 }
}

.one {
 font-weight: 100;
}

.two {
 font-weight: 200;
}

.three {
 font-weight: 300;
}

.four {
 font-weight: 400;
}

.five {
 font-weight: 500;
}

.six {
 font-weight: 600;
}

.seven {
 font-weight: 700;
}

.eight {
 font-weight: 800;
}

.nine {
 font-weight: 900;
}

.success-color {
 background: $success-color;
 p {
  color: #fff;
 }
}

.margin-spacer {
 border-left: $border;
 p {
  font-size: $secondary;
 }
 .normal-margin {
  border: $border;
  margin-left: $spacer;
  margin-bottom: $medium-spacer;
  padding: $spacer;
 }
 .medium-margin {
  border: $border;
  margin-left: $medium-spacer;
  margin-bottom: $medium-spacer;
  padding: $medium-spacer;
 }
 .small-margin {
  border: $border;
  margin-left: $small-spacer;
  padding: $small-spacer;
  margin-bottom: $medium-spacer;
 }
 .large-margin {
  border: $border;
  margin-left: $large-spacer;
  padding: $large-spacer;
  margin-bottom: $medium-spacer;
 }
 .big-margin {
  border: $border;
  margin-left: $big-spacer;
  padding: $big-spacer;
 }
}

//switch to Dark theme button
.dark-button {
 text-align: center;
 p {
  margin-bottom: 10px;
 }

 label {
  margin-bottom: 0;
 }
}

.switch {
 position: relative;
 display: inline-block;
 @include size(46px, 24px);
 background-color: rgba(0, 0, 0, 0.25);
 border-radius: 22px;
 transition: all 0.3s;
}
.switch::after {
 content: "";
 position: absolute;
 top: 1px;
 left: 1px;
 @include size(22px, 22px);
 border-radius: 22px;
 background-color: $white;
 transition: all 0.3s;
}
input[type="checkbox"]:checked + .switch::after {
 transform: translateX(22px);
}
input[type="checkbox"]:checked + .switch {
 background-color: $link-color;
}
.offscreen {
 position: absolute;
 left: -9999px;
}

//Dark Theme
.inverted {
 .white-color {
  p {
   color: $black;
  }
 }
 .background {
  p {
   color: $black;
  }
 }

 .light-background {
  p {
   color: $black;
  }
 }

 #topBtn {
  background: $white;
  color: $black;
 }
}
