// =======================
// Button
// =======================

@use "../root/" as *;

//Use a btn class for tags such as <a>
button,
[type="button"],
[type="reset"],
[type="submit"],
.btn {
 appearance: none;
 cursor: pointer;
 border: 0;
 font-family: $font;
 font-size: $third;
 display: inline-block;
 text-align: center;
 text-decoration: none;
 user-select: none;
 vertical-align: middle;
 white-space: nowrap;
 border-radius: $radius;
 padding: 10px 6px;
 width: 150px;
 color: var(--button-color);
 background: var(--button-bg);

 &:hover {
  background: var(--button-bg-hover);
  color: var(--button-color);
 }

 &:disabled {
  cursor: not-allowed;
  opacity: 0.5;
 }
}
