// =======================
// Forms
// =======================

@use "../root/" as *;

label {
 display: block;
 font-weight: 600;
 color: var(--font-color);
}

input,
select,
textarea {
 display: block;
 outline: none;
 color: var(--dark-gray);
}

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
 appearance: none;
 width: 100%;
 font-family: $font;
 background-color: var(--input-bg);
 transition: all $duration $timing;
 font-size: $secondary;
 border-radius: $radius;
 border: var(--border);
 box-shadow: var(--form-box-shadow);

 &:focus {
  outline: 1px solid var(--hover-color);
  box-shadow: var(--form-focus-box-shadow);
 }

 &:disabled {
  cursor: not-allowed;
  box-shadow: none;

  @media (hover: hover) {
   &:hover {
    border-color: var(--error);
   }
  }
 }
 &::placeholder {
  color: var(--medium-gray);
  font-size: $third;
  opacity: var(--opacity);
 }
}

[type="search"] {
 appearance: textfield;
}

[type="file"] {
 appearance: textfield;
 color: var(--font-color);
}

textarea {
 resize: vertical;
}

[type="checkbox"],
[type="radio"] {
 display: inline;
 margin: 0;
}
