// =======================
// Forms
// =======================

@use "../root/" as *;

input,
label,
select,
textarea {
  display: block;
}

#{$all-text-inputs} {
  appearance: none;
  border: $border;
  transition: border-color $duration $timing;
  width: 100%;
  font-size: $secondary;
  background-color: transparent;
  border-radius: $radius;
  box-shadow: inset 0 1px 1px rgba(#000, 0.26);

  &:focus {
    outline: 1.5px solid $link-color;
    box-shadow: inset 0 1px 1px rgba(#000, 0.4);
  }

  &:disabled {
    cursor: not-allowed;
    box-shadow: none;

    @media (hover: hover) {
      &:hover {
        border-color: $error-color;
      }
    }
  }
  &::placeholder {
    color: $font-color;
    opacity: 0.75;
  }
}

[type="search"] {
  appearance: textfield;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin: 0;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: 2.5px solid $link-color;
    outline-offset: 2.5px;
  }
}
