@use "../root/variables" as *;

ul,
ol {
 list-style-type: none;
 margin: 0;
 padding: 0;
 color: var(--font-color);
}

ul ul,
ol ol {
 margin-left: 10px;
}

dl {
 margin: 0;
}

dt {
 font-weight: 600;
}

dt, dd {
 margin: 0;
 color: var(--font-color);
}

p:has(+ ul),
p:has(+ ol) {
 margin-bottom: 5px;
}
