// =============
// Images
// =============

@use "../root/" as *;

img,
picture,
figure img {
 margin: 0;
}

figure {
 text-align: center;
}

figcaption {
 font-size: $secondary;
 line-height: 1.4;
 color: var(--font-color);
}
