// ===============================================
// Tables
// Finished format or tweak to your liking
// ===============================================

@use "../root/" as *;

table {
 width: 95%;
 margin: $spacer auto;
 background-color: transparent;

 caption {
  font-size: $font-size;
  caption-side: top;
  text-align: left;
  padding-bottom: 10px;
  font-weight: bold;
  color: var(--font-color);
 }

 th,
 td {
  color: var(--font-color);
  padding: 0.7rem;
  vertical-align: top;
  border-top: var(--border);
  font-size: $secondary;
  line-height: 1.5;
  text-align: left;
 }

 th {
  font-weight: bold;
  color: var(--font-color);
 }

 thead th {
  vertical-align: bottom;
 }
}

//Table hovers
tbody tr td,
tbody tr th {
 transition: background-color $timing $duration;
}

@media (hover: hover) {
 tbody tr:hover td,
 tbody tr:hover th {
  background-color: var(--light-bg);
  color: var(--table-hover);
 }
}

// CONDENSED ============================
.table-condensed {
 th,
 td {
  padding: 0.2rem 0.25rem;
 }
}

// BORDERED ============================
.table-bordered {
 border: var(--border);
 border-left: 0;
 border-collapse: separate;

 th,
 td {
  border-left: var(--border);
 }

 thead:first-child tr:first-child th,
 tbody:first-child tr:first-child th,
 tbody:first-child tr:first-child td {
  border-top: 0;
 }
}

// STRIPED ============================
.table-striped {
 tbody tr:nth-child(odd) td,
 tbody tr:nth-child(odd) th {
  background-color: var(--light-bg);
  color: $black;
 }
}
