// =======================
// Typography
// =======================
@use "sass:math";
@use "../root/variables" as *;

hr {
 border-bottom: $border;
 border-left: 0;
 border-right: 0;
 border-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: $heading-font;
 clear: both;
 hyphens: none;
 font-size: $font-size; //Remove to set browser default headings
}

//Balance text wrapping on headings
h1,
h2,
h3,
h4 {
 text-wrap: balance;
}

p,
.para {
 hyphens: none;
 font-size: clamp($font-size, 1.1385rem + 0.3077vw, 1.35rem);
}

b,
strong,
dt {
 font-weight: bolder;
}

i,
em,
dfn,
cite,
abbr,
address {
 font-style: italic;
}

abbr,
acronym {
 border-bottom: 1px dotted $medium-gray;
 cursor: help;
}

mark,
ins {
 background: $light-gray;
 text-decoration: none;
}

small {
 font-size: 70%;
}

big {
 font-size: 145%;
}

pre {
 overflow: auto;
 word-wrap: break-word;
 white-space: pre;
}

pre,
code,
kbd,
tt,
var {
 font-family: $code-font;
}

sub,
sup {
 font-size: 75%;
 line-height: 0;
 position: relative;
}

sup {
 top: -0.5em;
}

sub {
 bottom: -0.25em;
}

//Set the headings
h1,
.h1 {
 font-size: clamp(2rem, 0.58rem + 3.77vw, 3rem);
}

h2,
.h2 {
 font-size: clamp(1.75rem, 0.69rem + 2.83vw, 2.5rem);
}

h3,
.h3 {
 font-size: clamp(1.5rem, 0.79rem + 1.89vw, 2rem);
}

h4,
.h4 {
 font-size: clamp(1.25rem, 0.54rem + 1.89vw, 1.75rem);
}

h5,
.h5 {
 font-size: clamp(1.13rem, 0.59rem + 1.42vw, 1.5rem);
}

h6,
.h6 {
 font-size: clamp(1rem, 0.65rem + 0.94vw, 1.25rem);
}

//go to https://clamp.font-size.app to set your own type sizes using the css clamp function
