// =======================
// Typography
// =======================
@use "sass:math";
@use "../root/base-color" as *;
@use "../root/variables" as *;

hr {
 border-bottom: var(--border);
 border-left: 0;
 border-right: 0;
 border-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: $heading-font;
 color: var(--heading-color);
 line-height: 1.2;
 clear: both;
 hyphens: none;
 margin-bottom: math.div($spacer, 4);
}

//Balance text wrapping on headings
h1,
h2,
h3,
h4 {
 text-wrap: balance;
}

p,
.p {
 font-size: clamp(1.1rem, 1.291rem + -0.0597vw, 1.25rem);
 //based on screen width 320px to 1100px and fontsize 1.1rem to 1.25rem
}

p,
blockquote,
pre {
 margin-bottom: $spacer;
 color: var(--font-color);
}

b,
strong,
dt {
 font-weight: bolder;
}

i,
em,
dfn,
cite,
abbr,
address {
 font-style: italic;
}

abbr,
acronym {
 border-bottom: 1px dotted var(--medium-gray);
 cursor: help;
}

mark,
ins {
 background: var(--light-gray);
 text-decoration: none;
 color: $black;
}

del {
 text-decoration-color: var(--error);
}

small {
 font-size: 70%;
}

pre {
 overflow: auto;
 word-wrap: break-word;
 white-space: pre;
}

pre,
code,
kbd,
tt,
var {
 font-family: $code-font;
 color: var(--font-color);
}

sub,
sup {
 font-size: 75%;
 line-height: 0;
 position: relative;
}

sup {
 top: -0.5em;
}

sub {
 bottom: -0.25em;
}

//Set the headings
h1,
.h1 {
 font-size: clamp(2rem, 0.58rem + 3.77vw, 3rem);
}

h2,
.h2 {
 font-size: clamp(1.75rem, 0.69rem + 2.83vw, 2.5rem);
}

h3,
.h3 {
 font-size: clamp(1.5rem, 0.79rem + 1.89vw, 2rem);
}

h4,
.h4 {
 font-size: clamp(1.25rem, 0.54rem + 1.89vw, 1.75rem);
}

h5,
.h5 {
 font-size: clamp(1.13rem, 0.59rem + 1.42vw, 1.5rem);
}

h6,
.h6 {
 font-size: clamp(1rem, 0.65rem + 0.94vw, 1.25rem);
}
//the above is based on screen width 320px to 1100px
//go to https://clamp.font-size.app to set your own type sizes using the css clamp function