// =======================
// Base Color
// =======================
@use "shade-tint" as *;

$black: #1c0301;
$white: #fff;
$first-color: #2365c0;
$second-color: #af0c22;

$black-95: tint($black, 95%);
$black-90: tint($black, 90%);
$black-85: tint($black, 85%);
$black-80: tint($black, 80%);
$black-75: tint($black, 75%);
$black-70: tint($black, 70%);
$black-65: tint($black, 65%);
$black-60: tint($black, 60%);
$black-55: tint($black, 55%);
$black-50: tint($black, 50%);
$black-45: tint($black, 45%);
$black-40: tint($black, 40%);
$black-35: tint($black, 35%);
$black-30: tint($black, 30%);
$black-25: tint($black, 25%);
$black-20: tint($black, 20%);
$black-15: tint($black, 15%);
$black-10: tint($black, 10%);
$black-5: tint($black, 5%);

//first color
$first-95: tint($first-color, 95%);
$first-90: tint($first-color, 90%);
$first-85: tint($first-color, 85%);
$first-80: tint($first-color, 80%);
$first-75: tint($first-color, 75%);
$first-70: tint($first-color, 70%);
$first-65: tint($first-color, 65%);
$first-60: tint($first-color, 60%);
$first-55: tint($first-color, 55%);
$first-50: tint($first-color, 50%);
$first-45: tint($first-color, 45%);
$first-40: tint($first-color, 40%);
$first-35: tint($first-color, 35%);
$first-30: tint($first-color, 30%);
$first-25: tint($first-color, 25%);
$first-20: tint($first-color, 20%);
$first-15: tint($first-color, 15%);
$first-10: tint($first-color, 10%);
$first-5: tint($first-color, 5%);

//second color
$second-95: tint($second-color, 95%);
$second-90: tint($second-color, 90%);
$second-85: tint($second-color, 85%);
$second-80: tint($second-color, 80%);
$second-75: tint($second-color, 75%);
$second-70: tint($second-color, 70%);
$second-65: tint($second-color, 65%);
$second-60: tint($second-color, 60%);
$second-55: tint($second-color, 55%);
$second-50: tint($second-color, 50%);
$second-45: tint($second-color, 45%);
$second-40: tint($second-color, 40%);
$second-35: tint($second-color, 35%);
$second-30: tint($second-color, 30%);
$second-25: tint($second-color, 25%);
$second-20: tint($second-color, 20%);
$second-15: tint($second-color, 15%);
$second-10: tint($second-color, 10%);
$second-5: tint($second-color, 5%);
