@charset "UTF-8";

@use "sass:list";
@use "helpers" as *;

@mixin directional-property($property, $suffix, $values) {
 $top: $property + "-top" + if($suffix, "-#{$suffix}", "");
 $bottom: $property + "-bottom" + if($suffix, "-#{$suffix}", "");
 $left: $property + "-left" + if($suffix, "-#{$suffix}", "");
 $right: $property + "-right" + if($suffix, "-#{$suffix}", "");
 $all: $property + if($suffix, "-#{$suffix}", "");

 @if $values == null {
  #{$all}: "";
 } @else {
  $expanded: expand-shorthand($values);

  @if list.length($expanded) == 4 {
   #{$top}: list.nth($expanded, 1);
   #{$right}: list.nth($expanded, 2);
   #{$bottom}: list.nth($expanded, 3);
   #{$left}: list.nth($expanded, 4);
  } @else {
   #{$all}: $values;
  }
 }
}

// The new way to come - not recognised by preprocessors at time of writing
// @mixin directional-property($property, $suffix: null, $values...) {
//  $suffix-string: if(
//   sass($suffix): "-#{$suffix}",
//   else: "",
//  );

//  $top: $property + "-top" + $suffix-string;
//  $bottom: $property + "-bottom" + $suffix-string;
//  $left: $property + "-left" + $suffix-string;
//  $right: $property + "-right" + $suffix-string;
//  $all: $property + $suffix-string;
//  @if list.length($values) > 0 {
//   $expanded: expand-shorthand($values);

//   @if list.length($expanded) == 4 {
//    #{$top}: list.nth($expanded, 1);
//    #{$right}: list.nth($expanded, 2);
//    #{$bottom}: list.nth($expanded, 3);
//    #{$left}: list.nth($expanded, 4);
//   } @else {
//    #{$all}: $values;
//   }
//  } @else {
//   #{$all}: "";
//  }
// }

@mixin margin($values) {
 @include directional-property(margin, null, $values);
}

@mixin padding($values) {
 @include directional-property(padding, null, $values);
}

@mixin border-style($values) {
 @include directional-property(border, style, $values);
}

@mixin border-width($values) {
 @include directional-property(border, width, $values);
}

@mixin border-color($values) {
 @include directional-property(border, color, $values);
}
