@charset "UTF-8";

@use "sass:math";
@use "sass:list";
@use "helpers" as *;

// Center Elements
// @include center;
// this may need display: block to work in some cases
@mixin center {
 margin-left: auto;
 margin-right: auto;
}

// Hide from both screenreaders and browsers
// @include hidden;
@mixin hidden {
 display: none !important;
 visibility: hidden;
}

// Un-hide from both screenreaders and browsers
// @include show;
@mixin show {
 display: block !important;
 visibility: visible;
}

// breakpoints - base styles are phone first
// eg @include media(956) - min-width 956px
// eg @include media(956rem) - min-width 956rem
@mixin media($point) {
 // Convert unitless numbers to px, otherwise use the provided unit
 $breakpoint: if(math.is-unitless($point), #{$point}px, $point);
 @media only screen and (min-width: $breakpoint) {
  @content;
 }
}

//@include triangle("up", 2rem, 1rem, #b25c9c);
@mixin triangle($direction, $width, $height, $color) {
 @if not
  list.index(
   "up" "up-right" "right" "down-right" "down" "down-left" "left" "up-left",
   $direction
  )
 {
  @error "Direction must be `up`, `up-right`, `right`, `down-right`, " +
      "`down`, `down-left`, `left` or `up-left`.";
 } @else if not is-color($color) {
  @error "`#{$color}` is not a valid color for the `$color` argument in " +
      "the `triangle` mixin.";
 } @else {
  border-style: solid;
  height: 0;
  width: 0;

  @if $direction == "up" {
   border-color: transparent transparent $color;
   border-width: 0 math.div($width, 2) $height;
  } @else if $direction == "up-right" {
   border-color: transparent $color transparent transparent;
   border-width: 0 $width $width 0;
  } @else if $direction == "right" {
   border-color: transparent transparent transparent $color;
   border-width: math.div($height, 2) 0 math.div($height, 2) $width;
  } @else if $direction == "down-right" {
   border-color: transparent transparent $color;
   border-width: 0 0 $width $width;
  } @else if $direction == "down" {
   border-color: $color transparent transparent;
   border-width: $height math.div($width, 2) 0;
  } @else if $direction == "down-left" {
   border-color: transparent transparent transparent $color;
   border-width: $width 0 0 $width;
  } @else if $direction == "left" {
   border-color: transparent $color transparent transparent;
   border-width: math.div($height, 2) $width math.div($height, 2) 0;
  } @else if $direction == "up-left" {
   border-color: $color transparent transparent;
   border-width: $width $width 0 0;
  }
 }
}

//@include ellipsis;
@mixin ellipsis($width: 100%, $display: inline-block) {
 display: $display;
 max-width: $width;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 word-wrap: normal;
}
