@charset "UTF-8";

@use "sass:math";
@use "sass:list";
@use "sass:map";

// Center Elements
// @include center;
// this may need display: block to work in some cases
@mixin center {
 margin-left: auto;
 margin-right: auto;
}

// Hide from both screenreaders and browsers
// @include hidden;
@mixin hidden {
 display: none !important;
 visibility: hidden;
}

// Un-hide from both screenreaders and browsers
// @include show;
@mixin show {
 display: block !important;
 visibility: visible;
}

//use the breakpoint or rem/em/px
// Breakpoint Constants
$small: 480px;
$medium: 768px;
$large: 1024px;
$xlarge: 1200px;
$wide: 1440px;

// 1. MOBILE-FIRST (min-width)
// Use for: Building up styles as screens get larger.
@mixin media($size) {
 $breakpoint: if(math.is-unitless($size), $size * 1px, $size);

 @media only screen and (min-width: $breakpoint) {
  @content;
 }
}

//bighead font title sizes - also classes see -class/_typography.scss
//@include bighead-1;
@mixin bighead-1 {
 font-size: clamp(2.125rem, 1.767rem + 1.5909vw, 3rem);
 line-height: 1.2;
}

@mixin bighead-2 {
 font-size: clamp(2.5rem, 2.142rem + 1.5909vw, 3.375rem);
 line-height: 1.1;
}

@mixin bighead-3 {
 font-size: clamp(3.25rem, 2.9432rem + 1.3636vw, 4rem);
 line-height: 1.1;
}

@mixin bighead-4 {
 font-size: clamp(3.75rem, 3.4432rem + 1.3636vw, 4.5rem);
 line-height: 1.1;
}

//@include triangle(5px, black, right);
@mixin triangle($size, $color, $direction) {
 height: 0;
 width: 0;

 border-color: transparent;
 border-style: solid;
 border-width: math.div($size, 2);

 @if $direction == up {
  border-bottom-color: $color;
 } @else if $direction == right {
  border-left-color: $color;
 } @else if $direction == down {
  border-top-color: $color;
 } @else if $direction == left {
  border-right-color: $color;
 } @else {
  @error "Unknown direction #{$direction}.";
 }
}

//@include ellipsis;
@mixin ellipsis($width: 100%, $display: inline-block) {
 display: $display;
 max-width: $width;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 word-wrap: normal;
}
