@charset "UTF-8";

@use "sass:list";
@use "helpers" as *;
///   .element {
///     @include position(relative, 0 null null 10em);
///   }
///
///   CSS Output
///   .element {
///     left: 10em;
///     position: relative;
///     top: 0;
///   }
///
///   .element {
///     @include position(absolute, 0);
///   }
///
///   CSS Output
///   .element {
///     position: absolute;
///     top: 0;
///     right: 0;
///     bottom: 0;
///     left: 0;
///   }

@mixin position($position, $box-edge-values) {
 $box-edge-values: expand-shorthand($box-edge-values);
 $offsets: (
  "top": list.nth($box-edge-values, 1),
  "right": list.nth($box-edge-values, 2),
  "bottom": list.nth($box-edge-values, 3),
  "left": list.nth($box-edge-values, 4),
 );

 position: $position;

 @each $offset, $value in $offsets {
  @if is-length($value) {
   #{$offset}: $value;
  }
 }
}
