@use "sass:list";
@use "sass:meta";
@use "sass:string";
@use "sass:math";

@function _is-length($value) {
 @return meta.type-of($value) != "null" and
  (
   string.slice($value + "", 1, 4) == "calc" or string.slice($value + "", 1, 3)
    == "var" or string.slice($value + "", 1, 3) == "env" or
    list.index(auto inherit initial 0, $value) or
    (meta.type-of($value) == "number" and not(math.is-unitless($value)))
  );
}

/// Transforms shorthand that can range from 1-to-4 values to be 4 values.
/// @example scss
///   .element {
///     margin: _unpack-shorthand(1em 2em);
///   }
///
///   // CSS Output
///   .element {
///     margin: 1em 2em 1em 2em;
///   }
///
/// @access private

@function _expand-shorthand($values) {
 $length: list.length($values);

 @if $length == 1 {
  @return list.join($values $values $values $values, (), $separator: comma);
 } @else if $length == 2 {
  @return list.join(
   list.nth($values, 1) list.nth($values, 2) list.nth($values, 1)
    list.nth($values, 2),
   (),
   $separator: comma
  );
 } @else if $length == 3 {
  @return list.join(
   list.nth($values, 1) list.nth($values, 2) list.nth($values, 3)
    list.nth($values, 2),
   (),
   $separator: comma
  );
 } @else if $length == 4 {
  @return $values;
 }

 @return null;
}

///   .element {
///     @include position(relative, 0 null null 10em);
///   }
///
///   // CSS Output
///   .element {
///     left: 10em;
///     position: relative;
///     top: 0;
///   }
///
///   .element {
///     @include position(absolute, 0);
///   }
///
///   // CSS Output
///   .element {
///     position: absolute;
///     top: 0;
///     right: 0;
///     bottom: 0;
///     left: 0;
///   }

@mixin position($position, $box-edge-values) {
 $box-edge-values: _expand-shorthand($box-edge-values);
 $offsets: (
  "top": list.nth($box-edge-values, 1),
  "right": list.nth($box-edge-values, 2),
  "bottom": list.nth($box-edge-values, 3),
  "left": list.nth($box-edge-values, 4),
 );

 position: $position;

 @each $offset, $value in $offsets {
  @if _is-length($value) {
   #{$offset}: $value;
  }
 }
}
