@charset "UTF-8";

@use "sass:color";
@use "helpers" as *;
/// Mixes a color with black.
/// @example scss
///   .element {
///     background-color: shade(#ffbb52, 60%);
///   }
///
///   CSS Output
///   .element {
///     background-color: #664a20;
///   }

@function shade($color, $percent) {
 @if not is-color($color) {
  @error "`#{$color}` is not a valid color for the `$color` argument in " +
      "the `shade` mixin.";
 } @else {
  @return color.mix(#000, $color, $percent);
 }
}

/// Mixes a color with white.
/// @example scss
///   .element {
///     background-color: tint(#6ecaa6, 40%);
///   }
///
///   CSS Output
///   .element {
///     background-color: #a8dfc9;
///   }

@function tint($color, $percent) {
 @if not is-color($color) {
  @error "`#{$color}` is not a valid color for the `$color` argument in " +
      "the `tint` mixin.";
 } @else {
  @return color.mix(#fff, $color, $percent);
 }
}
