// =======================
// Variables
// =======================
@use "base-color" as *;
@use "shade-tint" as *;

// TYPOGRAPHY
$font: "Raleway", sans-serif;
$heading-font: "antonio", sans-serif;
$code-font: "Source Code Pro", monospace;
$icon-font: "";

$font-size: 1.2rem;

$lead: calc($font-size * 1.234);
$secondary: calc($font-size / 1.125);
$third: calc($font-size / 1.255);

// SIZE
$radius: 0.375rem;
$spacer: 2rem;
$medium-spacer: calc($spacer / 2); //1rem
$small-spacer: calc($spacer / 4); //0.5rem
$large-spacer: calc($spacer * 1.5); //3rem
$big-spacer: calc($spacer * 2); //4rem

// COLOR
$dark-gray: $black-35;
$medium-gray: $black-60;
$light-gray: $black-85;

// Font Colors
$font-color: $black-20;
$link-color: $first-30;
$hover-color: $second-color;

// Background Colors
$background: $black-80;
$light-background: tint($background, 70%);

// Informaton colors
$error-color: #ba221d;
$alert-color: #bd912f;
$success-color: #3f913a;

//Button
$button-color: $white;
$button-background: $first-color;
$button-color-hover: $black-80;
$button-background-hover: $hover-color;

// Border
$border: 0.063rem solid $dark-gray;

// Animations
$duration: 150ms;
$timing: ease;
